<header id="page-header">
  <ng-content select="#header-back-button"></ng-content>
  <ng-content select="#error-alert"></ng-content>
  <ng-content select="#header-title"></ng-content>
  <ng-content select="#header-subtitle"></ng-content>
  <ng-content select="#header-subsubtitle"></ng-content>
  <div class="right-container">
    <div class="top-right-container">
      <ng-content select="#header-top-right-container"></ng-content>
    </div>
    <div class="bottom-right-container">
      <ng-content select="#header-bottom-right-container"></ng-content>
    </div>
  </div>
  <ng-content select="#header-filter"></ng-content>
  <ng-content select="#header-sort"></ng-content>
  <ng-content select="#tabs-container"></ng-content>
  <hr>
</header>
<div class="header-sublayer"></div>
