<header id="page-header">
  <ng-content select="#header-back-button"></ng-content>
  <ng-content select="#error-alert"></ng-content>
  <ng-content select="#header-title"></ng-content>
  <ng-content select="#header-subtitle"></ng-content>
  <ng-content select="#header-subsubtitle"></ng-content>
  <div class="top-right-container">
    <ng-content select="#header-top-right-container"></ng-content>
  </div>
  <ng-content select="#header-filter"></ng-content>
  <ng-content select="#tabs-container"></ng-content>
  <ng-content select="#header-sort"></ng-content>
  <hr>
</header>
