@import '../../../../assets/styles/base.scss';

.detail-element-container {
  margin-top: $margin-tiny !important;
  align-items: unset !important;
}

.dropdown-parent {
  width: calc(100% - #{$fixed-width-column-large});

  &.half-width {
    width: calc((100% - #{$fixed-width-column-large} - #{$margin-big}) / 2);
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  padding-bottom: $margin-default;

  > .text-button {
    margin-left: 0;
  }
}

.text-button {
  margin-right: $margin-small;
  margin-left: $margin-small;
}

.margin-top-tiny {
  margin-top: $margin-tiny;
}

.margin-right-big {
  margin-right: $margin-big;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.label {
  width: $fixed-width-column-large;
}

.value {
  font-weight: bold;
  margin-left: $margin-tiny;
}

hr {
  margin: 25px 0;
}

.tabs-container {
  margin-top: 40px;
  margin-bottom: $margin-big;
  position: sticky;
  top: $simple-header-height;
  background-color: $color-background;
  z-index: 1;
}

.label-container {
  display: flex;
  width: 100%;
  margin-bottom: $margin-small;
}

.add-student-button {
  width: 110px;
  margin-top: $margin-big;
}

.right-container {
  border-left: 1px solid $color-separator;
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  padding-left: $margin-default;
  margin-left: $margin-small;
}

.spaced {
  justify-content: space-between;
}

.end {
  align-self: flex-end;
  margin-top: $margin-xsmall;
  margin-bottom: $margin-xsmall;
}

.unwrapped {
  flex-wrap: nowrap;
}

.unmargined-left {
  margin-left: 0;
}

.error-toast {
  display: flex;
  color: whitesmoke;
  background-color: $color-red;
  height: auto;
  padding: 5px 15px 5px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 110px;
  overflow-y: scroll;
  border-radius: $border-radius-normal;

  .close-error {
    align-self: center;
    background: url('../../../../assets/img/x-white.svg');
    width: 15px;
    height: 15px;
    padding-bottom: 16px;
    padding-right: $margin-tiny;
    margin-left: $margin-tiny;

    &:hover {
      cursor: pointer;
    }
  }
}

.request-error {
  padding: 10px 0 10px;
}

.name-label {
  height: 40px;
  line-height: 40px;
  margin-bottom: unset;
}

@media screen and (max-width: $mobile-screen-width-normal) {
  .half-width {
    flex-grow: 1;
  }

  .row {
    flex-direction: column;
    align-items: initial;
  }

  .dropdown-parent {
    width: 100%;
  }

  .label-container {
    flex-direction: column;
  }

  .value {
    margin-left: 0;
    padding-top: $margin-tiny;
  }

  .label {
    padding-bottom: $margin-tiny;
  }

  .bordered {
    border-bottom: 1px solid $color-separator;
    padding-bottom: $margin-small;
    margin-bottom: $margin-tiny;

    :last-of-type {
      border-bottom: 0;
    }

  }

  .right-container {
    flex-direction: row;
    align-content: initial;
    padding-left: 0;
    border-left: 0;
  }

  .mobile-margin {
    margin-left: 0;
  }

  .tabs-container {
    top: #{$mobile-nav-bar-height};
  }

}
