<div class="animated-page">
  <app-header>
    <div id="error-alert">
      <div class="error-toast" *ngIf="studyClassRequestErrors?.length > 0">
        <div class="request-error">
          {{ studyClassRequestErrors }}
        </div>
        <div class="close-error" (click)="hideErrorToast()"></div>
      </div>
    </div>
    <a id="header-back-button" [routerLink]="['/manage-classes']">
      <div class="arrow left"></div>
      <div class="blue-text bold column">Gestionare clase</div>
    </a>
    <h1 id="header-title">{{isEdit ? 'Editare' : 'Adaugare'}} clasă</h1>
    <h2 id="header-subtitle">
      <ng-container *ngIf="true; else loading">
        {{isEdit ? studyClass?.academic_year + ' - ' + (studyClass?.academic_year + 1)
        : currentAcademicYear + ' - ' + (currentAcademicYear + 1)}}
      </ng-container>
      <ng-template #loading>Se încarcă datele</ng-template>
    </h2>
    <div id="header-top-right-container">
      <div class="button-container">
        <div class="text-button" (click)="onSubmit()">Salvează</div>
        <div class="text-button dark-text" (click)="cancel()">Anulează</div>
      </div>
    </div>
  </app-header>

  <div class="page-content">
    <div class="detail-element-container header regular blue-text">
      <div class="label-container fixed-large-column">Nume*</div>
      <div class="dropdown-parent half-width margin-right-big">
        <app-dropdown
          [list]="availableClasses"
          [displayedProperty]="'class_grade'"
          (elementHasBeenSelected)="handleInputChange($event, 'class_grade')"
          [appliedElement]="studyClass?.class_grade"
          [dropdownStyle]="'big'"
          [errorMessage]="studyClassErrors?.class_grade ? studyClassErrors?.class_grade : ''"
          [error]="studyClassErrors?.class_grade ? studyClassErrors?.class_grade : ''"
          [required]="true"
        ></app-dropdown>
      </div>
      <div class="dropdown-parent half-width">
        <app-dropdown
          [list]="classesAlphaLetters"
          [displayedProperty]=""
          (elementHasBeenSelected)="handleInputChange($event, 'class_letter')"
          [appliedElement]="studyClass?.class_letter"
          [dropdownStyle]="'big'"
          [errorMessage]="studyClassErrors?.class_letter ? studyClassErrors?.class_letter : ''"
          [error]="studyClassErrors?.class_letter ? studyClassErrors?.class_letter : ''"
          [required]="true"
        ></app-dropdown>
      </div>
    </div>
    <div class="row margin-top-tiny">
      <div class="label">Profil - Specializare / Domeniu*</div>
      <div class="dropdown-parent">
        <app-dropdown
          [isDisabled]="!studyClass?.class_grade"
          [list]="academicProgramsList"
          [displayedProperty]="'name'"
          (elementHasBeenSelected)="handleInputChange($event, 'academic_program_name')"
          [appliedElement]="studyClass?.academic_program_name"
          [errorMessage]="studyClassErrors?.academic_program_name ? studyClassErrors?.academic_program_name : ''"
          [error]="studyClassErrors?.academic_program_name ? studyClassErrors?.academic_program_name : ''"
          [placeholder]="'-'"
          [required]="true"
        ></app-dropdown>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="label">Diriginte*</div>
      <div class="dropdown-parent">
        <app-dropdown
          [list]="classMasterCandidates"
          [displayedProperty]="'full_name'"
          (elementHasBeenSelected)="handleInputChange($event, 'class_master')"
          [appliedElement]="studyClass?.class_master"
          [errorMessage]="studyClassErrors?.class_master ? studyClassErrors?.class_master : ''"
          [error]="studyClassErrors?.class_master ? studyClassErrors?.class_master : ''"
          [placeholder]="'-'"
          [required]="true"
        ></app-dropdown>
      </div>
    </div>

    <div class="tabs-container" *ngIf="studyClass?.academic_program_name">
      <app-tabs [tabsList]="tabs" [activeTab]="activeTab"
                (tabHasBeenSelected)="onTabClick($event)"></app-tabs>
    </div>

    <div *ngIf="activeTab === 'teachers'; else students">
      <div *ngIf="isEdit">
        <div class="big-text bold red-text" *ngIf="studyClass?.teachers_class_through.length === 0
        && studyClass.academic_program_name">Nu există materii pentru această clasă.</div>
        <div *ngFor="let subject of studyClass?.teachers_class_through; let i = index" class="row">
          <div class="label-container">
            <div class="label">Materie</div>
            <div class="value">{{subject.subject_name}}</div>

          </div>
          <div class="label">Nume*</div>
          <div class="dropdown-parent">
            <app-dropdown
              [list]="getAvailableTeachersForSubject(subject.subject_id)"
              [displayedProperty]="'full_name'"
              (elementHasBeenSelected)="handleListInputChange($event, 'teachers_class_through', i)"
              [appliedElement]="studyClass.teachers_class_through[i]?.teacher"
              [errorMessage]="studyClassErrors.teachers_class_through[i]?.teacher ? studyClassErrors.teachers_class_through[i]?.teacher : ''"
              [error]="studyClassErrors.teachers_class_through[i]?.teacher ? studyClassErrors.teachers_class_through[i]?.teacher : ''"
              [placeholder]="'-'"
              [required]="true"
            ></app-dropdown>
          </div>
          <hr *ngIf="i !== studyClass.teachers_class_through.length - 1">
        </div>
      </div>
      <div *ngIf="!isEdit">
        <div class="big-text bold red-text" *ngIf="studyClass.teachers_class_through.length === 0
        && studyClass.academic_program_name">Nu există materii pentru această clasă.</div>
        <div *ngFor="let subject of studyClass.teachers_class_through; let i = index" class="row">
          <div class="label-container">
            <div class="label">Materie</div>
            <div class="value">{{subject.subject_name}}</div>

          </div>
          <div class="label">Nume*</div>
          <div class="dropdown-parent">
            <app-dropdown
              [list]="getAvailableTeachersForSubject(subject.subject_id)"
              [displayedProperty]="'full_name'"
              (elementHasBeenSelected)="handleListInputChange($event, 'teachers_class_through', i)"
              [appliedElement]="studyClass.teachers_class_through[i]?.teacher"
              [errorMessage]="studyClassErrors.teachers_class_through[i]?.teacher ? studyClassErrors.teachers_class_through[i]?.teacher : ''"
              [error]="studyClassErrors.teachers_class_through[i]?.teacher ? studyClassErrors.teachers_class_through[i]?.teacher : ''"
              [placeholder]="'-'"
              [required]="true"
            ></app-dropdown>
          </div>
          <hr *ngIf="i !== studyClass.teachers_class_through.length - 1">
        </div>
      </div>
    </div>

    <ng-template #students>
      <div *ngIf="!isEdit">
        <div *ngFor="let student of studyClass?.students; let i = index">
          <div class="row unwrapped">
            <div class="label">Nume*</div>
            <div class="dropdown-parent">
              <app-dropdown
                [list]="studentList"
                [displayedProperty]="'full_name'"
                (elementHasBeenSelected)="handleListInputChange($event, 'students', i)"
                [appliedElement]="student?.full_name"
                [errorMessage]="studyClassErrors.students[i]?.full_name ? studyClassErrors.students[i]?.full_name : ''"
                [error]="studyClassErrors.students[i]?.full_name ? studyClassErrors.students[i]?.full_name : ''"
                [placeholder]="'-'"
                [required]="true"
              ></app-dropdown>
            </div>
            <div class="right-container">
              <div class="text-button dark-text end mobile-margin" (click)="deleteStudent(i)">Sterge</div>
            </div>
          </div>
          <hr *ngIf="i !== studyClass.students.length - 1">
        </div>
      </div>
      <div *ngIf="isEdit && studyClass.students.length > 0">
        <div *ngFor="let student of studyClass?.students; let i = index">
          <div *ngIf="i < initialStudentNumber" class="row spaced">
            <div class="row bordered">
              <div class="label ">Nume*</div>
              <div class="bold">{{ student?.full_name }}</div>
            </div>
            <div class="right-container">
              <div class="text-button dark-text end mobile-margin" (click)="deleteStudent(i)">Sterge</div>
              <div class="text-button dark-text end" (click)="openUserModal()">Muta</div>
            </div>
          </div>
          <div *ngIf="i >= initialStudentNumber" class="row spaced unwrapped">
            <div class="label">Nume*</div>
            <div class="dropdown-parent">
              <app-dropdown
                [list]="studentList"
                [displayedProperty]="'full_name'"
                (elementHasBeenSelected)="handleListInputChange($event, 'students', i)"
                [appliedElement]="student?.full_name"
                [errorMessage]="studyClassErrors.students[i]?.full_name ? studyClassErrors.students[i]?.full_name : ''"
                [error]="studyClassErrors.students[i]?.full_name ? studyClassErrors.students[i]?.full_name : ''"
                [placeholder]="'-'"
                [required]="true"
              ></app-dropdown>
            </div>
            <div class="right-container">
              <div class="text-button dark-text end mobile-margin" (click)="deleteStudent(i)">Sterge</div>
            </div>
          </div>
          <hr *ngIf="i !== studyClass.students.length - 1">
        </div>
      </div>
      <div class="add-student-button text-button blue unmargined-left" (click)="addStudent()">Adaugă un elev nou</div>
    </ng-template>
  </div>

  <app-add-new-user-modal #addNewUserModal></app-add-new-user-modal>
</div>
