<app-modal [headerColor]="'dark'" #modal>
  <div id="modal-header">
    <div class="header">
      <h2 class="title">Etichete</h2>
      <div class="description">{{studentName}}</div>
    </div>
  </div>
  <div id="modal-body">
    <div class="body">
      <div class="labels-container">
        <div *ngFor="let label of labels" class="action-button">
          <span class="text-content"
                [class.yellow-text]="label.text==='Risc Abandon 1'"
                [class.red-text]="label.text==='Risc Abandon 2'">
            {{label.text}}
          </span>
          <ng-container *ngIf="['Risc Abandon 1', 'Risc Abandon 2'].includes(label.text)">
            <div class="tag-tooltip">
              {{riskDescription}}
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-footer">
    <span class="text-button dark-text" (click)="close()">Închide</span>
  </div>
</app-modal>
