@import '../../../assets/styles/base';
@import '../../../assets/styles/buttons';

.title, .description {
  color: white;
}

.description {
  margin-top: $margin-xsmall;
}

.body {
  width: 500px;

  .labels-container {
    display: flex;
    padding: 25px 0 35px 0;
    flex-wrap: wrap;
  }

  .action-button {
    display: flex;
    font-weight: $font-weight-regular;
    color: $color-text-normal;
    background-color: white;
    margin-top: $margin-tiny;
    margin-right: $margin-default;
    padding: 6px $margin-small 6px $margin-tiny;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    user-select: none;

    &:last-of-type {
      margin-right: 0;
    }

    .text-content {
      align-self: center;
      white-space: nowrap;
    }
  }
}

.text-button {
  &.disabled {
    color: $color-text-normal;
    pointer-events: none;
  }
}

@keyframes tagsOverlay {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
}

.tag-tooltip {
  position: absolute;
  max-width: 300px;
  text-align: center;
  line-height: normal;
  border: 1px solid $color-separator;
  background-color: $color-background;
  box-shadow: 0 2px 5px 0 rgba(black, 0.1);
  border-radius: $border-radius-tiny;
  padding: $margin-tiny;
  animation: tagsOverlay 0.2s 0s $ease-in-out 1 backwards;
  z-index: 1;
  pointer-events: none;
  display: none;
}

.action-button:hover {
  .tag-tooltip {
    display: flex;
  }
}

.mobile-only {
  display: none;
}

@media (max-width: $mobile-screen-width-normal) {
  .body {
    width: unset;
  }

  .mobile-only {
    display: revert;
  }

  .action-button:hover .tag-tooltip {
    display: none;
  }

  .action-button {
    pointer-events: none;
  }
}

@media (max-width: $mobile-screen-width-small) {
  .body {
    max-width: 500px;
    width: 100%;
    max-height: 50vh;
    overflow-y: scroll;

    .labels-container {
      padding-top: $margin-small;
      padding-bottom: $margin-small;

      .action-button {
        margin-top: $margin-tiny;
        margin-right: $margin-xsmall;
        border-radius: $border-radius-tiny;
      }
    }
  }
}
