<div class="table-wrapper">
  <div class="scroll-container">
    <div class="table">
      <div class="table-head" [ngStyle]="{backgroundColor: tableColumns[0]?.backgroundColor}">
        <div class="head {{ columnHeader?.columnType }} header" [ngStyle]="{minWidth: columnHeader?.minWidth, backgroundColor: columnHeader?.backgroundColor}"
             *ngFor="let columnHeader of tableColumns">{{ columnHeader.name }}</div>
      </div>
      <div class="table-body">
        <div class="row" *ngFor="let data of tableData">
          <div class="row-data {{ column?.columnType }} column"
               [ngStyle]="{minWidth: column?.minWidth}"
               *ngFor="let column of tableColumns">

            <ng-container *ngIf="column?.displayFormatter; else simpleData">
              {{ column.displayFormatter(data[column.dataKey]) }}
            </ng-container>

            <ng-template #simpleData>
              <a *ngIf="column.columnType === 'link-button'"
                 routerLink='{{ column.link(data) }}'
                 class="text-item link-content blue-text bold">
                {{ data[column?.dataKey] }}
              </a>
              <a *ngIf="column.columnType === 'link-button-fixed-max-width'"
                 routerLink='{{ column.link(data) }}'
                 class="text-item link-content blue-text bold fixed-max-width">
                {{ data[column?.dataKey] }}
              </a>

              <a *ngIf="column.columnType === 'user-details-modal'"
                 (click)="triggerUserModalEvent(column.link(data))"
                 class="text-item link-content blue-text bold">
                {{ data[column?.dataKey] }}
              </a>
              <a *ngIf="column.columnType === 'user-details-modal-fixed-max-width'"
                 (click)="triggerUserModalEvent(column.link(data))"
                 class="text-item link-content blue-text bold fixed-max-width">
                {{ data[column?.dataKey] }}
              </a>

              <div *ngIf="column.columnType === 'numbered-cell'"
                   class="medium red-text">
                {{ data[column?.dataKey] }}
              </div>
              <div *ngIf="column.columnType === 'numbered-cell-dynamic-limit'"
                   class="medium {{ data[column?.dataKey] >= column?.pivotPoint ? 'red-text' : '' }}">
                {{ data[column?.dataKey] }}
              </div>
              <div *ngIf="column.columnType === 'numbered-cell-dynamic-limit-with-third-of-hours'"
                   class="{{ data[column?.dataKey] >= data[column?.thirdOfHoursPivotPoint] || data[column?.dataKey] >= column?.pivotPoint ? 'red-text' : '' }}">
                {{ data[column?.dataKey] }}
              </div>

              <div *ngIf="column.columnType === 'graded-cell'"
                   class="{{ data[column?.dataKey] < (data[column?.pivotPoint] ? data[column?.pivotPoint] : column?.pivotPoint) ? 'red-text' : '' }}">
                {{ data[column?.dataKey] }}
              </div>
              <div *ngIf="column.columnType === 'simple-cell'">
                {{ data[column?.dataKey] }}
              </div>

              <div *ngIf="column.columnType === 'class-name'">
                {{ data[column?.dataKey] }}
              </div>

              <div *ngIf="column.columnType === 'custom-text'"
                   class="{{ getColorByEventType(data) }}">
                {{ data[column?.dataKey] }}
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
