<!--This component will be used by all types of users roles, being the same for all-->
<div class="animated-page">
  <app-header>
    <h1 id="header-title">Editare contul meu</h1>
    <div id="header-top-right-container">
      <div class="button-container">
        <div class="text-button" (click)="submitForm()">Salvează</div>
        <div class="text-button dark-text" [routerLink]="['/my-account']">Anulează</div>
      </div>
    </div>
  </app-header>
  <div class="page-content">
    <div class="detail-element-container subheader">
      <div class="label-container">Detalii de autentificare</div>
    </div>
    <div class="detail-element-container header blue-text">
      <div class="label-container fixed-width">Rol Utilizator</div>
      <div class="value-container unmargined-top">{{ userRoles[account?.user_role] }}</div>
    </div>
    <div *ngIf="this.availableFields?.class" class="detail-element-container">
      <div class="label-container fixed-width">Clasă</div>
      <div class="value-container bold">{{account?.class_grade + ' ' + account?.class_letter}}</div>
    </div>
    <div class="custom-input">
      <div class="label">Nume utilizator*</div>
      <div class="vertical">
        <div class="row">
        <span class="radio-container" (click)="addInput(false, 'use_phone_as_username')">
          <div class="radio-button" [class.checked]="!account?.use_phone_as_username"></div>
          <div class="text">Adresă de email</div>
        </span>
        </div>
        <div class="row">
        <span class="radio-container" (click)="addInput(true, 'use_phone_as_username')">
          <div class="radio-button" [class.checked]="account?.use_phone_as_username"></div>
          <div class="text">Număr de telefon</div>
        </span>
        </div>
      </div>
    </div>
    <div class="detail-element-container subheader">
      <div class="label-container">Modificare parolă</div>
    </div>
    <div class="border-left">
      <div class="detail-element-container">
        <div class="label-container fixed-width">Parolă curentă</div>
        <div class="value-container full-width">
          <app-input-new
            (inputChange)="addInput($event, 'current_password', 'new_password')"
            value="{{newPassword.current_password}}"
            [error]="errors?.current_password"
            inputType="password"
            #currentPass
          ></app-input-new>
          <div class="show-password-button" [class.is-showing]="currentPass.inputType === 'text'" (click)="showHidePassword(currentPass)"></div>
        </div>
      </div>
      <div class="detail-element-container margin-top-small">
        <div class="label-container fixed-width">Parolă nouă</div>
        <div class="value-container full-width">
          <app-input-new
            (inputChange)="addInput($event, 'new_password', 'new_password')"
            value="{{newPassword.new_password}}"
            [error]="errors?.new_password"
            inputType="password"
            #newPass
          ></app-input-new>
          <div class="show-password-button" [class.is-showing]="newPass.inputType === 'text'" (click)="showHidePassword(newPass)"></div>
        </div>
      </div>
      <div class="detail-element-container margin-top-small">
        <div class="label-container fixed-width">Repetare parolă nouă</div>
        <div class="value-container full-width">
          <app-input-new
            (inputChange)="addInput($event, 'repeatNewPassword', 'new_password')"
            value="{{newPassword.repeatNewPassword}}"
            [error]="errors?.repeatNewPassword"
            inputType="password"
            #repeatPass
          ></app-input-new>
          <div class="show-password-button" [class.is-showing]="repeatPass.inputType === 'text'" (click)="showHidePassword(repeatPass)"></div>
        </div>
      </div>
    </div>
    <hr class="margin-list">
    <div class="detail-element-container subheader">
      <div class="label-container">Detalii profil</div>
    </div>
    <div class="detail-element-container">
      <div class="label-container fixed-width">Nume*</div>
      <div class="value-container full-width">
        <app-input-new
          (inputChange)="addInput($event, 'full_name')"
          [error]="errors?.full_name"
          [value]="account?.full_name"
        ></app-input-new>
      </div>
    </div>
    <div class="detail-element-container">
      <div class="label-container fixed-width">Număr de telefon*</div>
      <div class="value-container full-width">
        <app-input-new
          (inputChange)="addInput($event, 'phone_number')"
          [error]="errors?.phone_number"
          [value]="account?.phone_number"
        ></app-input-new>
      </div>
    </div>
    <div class="detail-element-container">
      <div class="label-container fixed-width">Adresă de email*</div>
      <div class="value-container full-width">
        <app-input-new
          (inputChange)="addInput($event, 'email')"
          [error]="errors?.email"
          [value]="account?.email"
        ></app-input-new>
      </div>
    </div>
    <div class="detail-element-container" *ngIf="this.availableFields?.address">
      <div class="label-container fixed-width">Adresă</div>
      <div class="value-container full-width">
        <app-input-new
          (inputChange)="addInput($event, 'address')"
          [error]="errors?.address"
          [value]="account?.address"
        ></app-input-new>
      </div>
    </div>
    <div class="detail-element-container" *ngIf="this.availableFields?.personal_id_number">
      <div class="label-container fixed-width">CNP</div>
      <div class="value-container full-width">
        <app-input-new
          (inputChange)="addInput($event, 'personal_id_number')"
          [error]="errors?.personal_id_number"
          [value]="account?.personal_id_number"
        ></app-input-new>
      </div>
    </div>
    <div class="detail-element-container" *ngIf="this.availableFields?.birth_date">
      <div class="label-container fixed-width">Dată naștere</div>
      <div class="value-container full-width">
        <app-input-new
          (inputChange)="addInput($event, 'birth_date')"
          [error]="errors?.birth_date"
          [value]="account?.birth_date"
        ></app-input-new>
      </div>
    </div>
    <hr class="margin-list">
    <div class="detail-element-container subheader">
      <div class="label-container">Setări</div>
    </div>
    <div class="custom-input row">
      <div class="custom-label">
        Doresc să primesc notificări prin adresa de email
      </div>
      <div class="checkbox-button"
           (click)="addInput(!account.email_notifications_enabled, 'email_notifications_enabled')"
           [class.checked]="account.email_notifications_enabled"
      ></div>
    </div>
    <div class="custom-input row">
      <div class="custom-label">
        Doresc să primesc notificări prin SMS
      </div>
      <div class="checkbox-button"
           (click)="addInput(!account.sms_notifications_enabled, 'sms_notifications_enabled')"
           [class.checked]="account.sms_notifications_enabled"
      ></div>
    </div>
    <div class="custom-input row">
      <div class="custom-label">
        Doresc să primesc notificări de tip push
      </div>
      <div class="checkbox-button"
           (click)="addInput(!account.push_notifications_enabled, 'push_notifications_enabled')"
           [class.checked]="account.push_notifications_enabled"
      ></div>
    </div>
  </div>
</div>
