<div class="animated-page">
  <app-header>
    <div id="error-alert">
      <div class="error-toast" *ngIf="errorOnOtherTab?.length > 0">
        <div class="request-error">
          {{ errorOnOtherTab }}
        </div>
        <div class="close-error" (click)="hideErrorToast()"></div>
      </div>
    </div>
    <a id="header-back-button" [routerLink]="['/manage-class-profiles']">
      <div class="arrow left"></div>
      <div class="blue-text bold column">Gestionare profile clase</div>
    </a>
    <h1 id="header-title">{{page === 'add' ? 'Adăugare' : 'Editare'}} profil</h1>
    <h2 id="header-subtitle">
      <ng-container *ngIf="academicProgram?.academic_year || currentAcademicYear; else loading">
        {{page === 'edit' ? academicProgram?.academic_year + ' - ' + (academicProgram?.academic_year + 1)
        : currentAcademicYear.academic_year + ' - ' + (currentAcademicYear.academic_year + 1)}}
      </ng-container>
      <ng-template #loading>Se încarcă datele...</ng-template>
    </h2>
    <div id="header-top-right-container">
      <div *ngIf="!requestInProgress"
           class="button-container">
        <div class="text-button" (click)="submit()">Salvează</div>
        <div class="text-button dark-text" (click)="cancel()">Anulează</div>
      </div>
    </div>
  </app-header>
  <div class="page-content">
    <ng-container *ngIf="!this.requestInProgress; else loadingList">
    <div class="detail-element-container header blue-text">
      <div class="label-container fixed-large-column">Nume{{page === 'add' ? '*' : ''}}</div>
      <div class="value-container bold" *ngIf="page === 'edit'">{{academicProgram.name}}</div>
      <div class="value-container profile-name" *ngIf="page === 'add'">
        <app-dropdown
          [list]="unregisteredAcademicPrograms"
          [required]="true"
          [identifierProperty]="'id'"
          [displayedProperty]="'name'"
          [appliedElement]="academicProgram.id ? academicProgram : null"
          [dropdownStyle]="'big'"
          [error]="errors.academicProgram"
          [errorMessage]="errors.academicProgram"
          (elementHasBeenSelected)="selectAcademicProgram($event.element.id)"
        ></app-dropdown>
      </div>
    </div>

    <div class="detail-element-container" *ngIf="this.hasCoreSubject">
      <div class="label-container fixed-large-column bold">Disciplină de specialitate*</div>
      <div class="value-container">
        <app-dropdown [list]="coreSubjectsList"
                      [displayedProperty]="'subject_name'"
                      [required]="true"
                      [appliedElement]="coreSubject"
                      (elementHasBeenSelected)="selectCoreSubject($event.element)"
                      [error]="this.errors?.core_subject"
                      [errorMessage]="this.errors?.core_subject"
                      [placeholder]="'-'"></app-dropdown>
      </div>
    </div>

    <div class="detail-element-container" *ngIf="this.page !== 'add'">
      <div class="label-container">Clase cu acest profil</div>
      <div class="value-container bold">{{academicProgram.classes_count || 0}}</div>
    </div>

    <ng-container *ngIf="yearGradesTabList.length && academicProgram.id; else noDataMessage">
      <div class="tabs-container">
        <app-tabs [tabsList]="yearGradesTabList" [activeTab]="yearGradeActiveTab"
                  (tabHasBeenSelected)="onYearGradeTabClicked($event)"></app-tabs>
        <app-tabs [tabsList]="subjectsTabsList" [activeTab]="subjectActiveTab"
                  (tabHasBeenSelected)="onSubjectTabClicked($event)"></app-tabs>

      </div>
      <div [ngSwitch]="subjectActiveTab">
        <ng-container *ngSwitchCase="'mandatory_subjects'">
          <div class="subject"
               *ngFor="let subject of academicProgram?.subjects[yearGradeActiveTab]?.mandatory_subjects">
            <div class="detail-element-container">
              <div class="label-container">Nume</div>
              <div class="value-container bold">{{subject.subject_name}}</div>
            </div>
            <div class="detail-element-container">
              <div class="label-container">Număr de ore / săptămână</div>
              <div class="value-container bold">{{subject.weekly_hours_count}}</div>
            </div>
            <hr class="margin-list">
          </div>
        </ng-container>
        <div class="subjects-container" *ngSwitchCase="'optional_subjects'">
          <div class="subject"
               *ngFor="let subject of academicProgram?.subjects[yearGradeActiveTab]?.optional_subjects; let $i = index;">

            <div class="detail-element-container">
              <div class="label-container">Nume*</div>
              <div class="value-container">
                <app-input-new [value]="subject.subject_name"
                               [error]="errors[yearGradeActiveTab]?.optional_subjects[$i]?.subject_name"
                               (inputChange)="subjectNameChange($i, $event)"
                               [maxLength]="100"></app-input-new>
              </div>
              <ng-container>
                <div class=desktop-only>
                  <div class="vertical-line"></div>
                  <div class="delete-button text-button dark-text" (click)="deleteSubject($i)">Șterge</div>
                </div>
              </ng-container>
            </div>

            <div class="detail-element-container">
              <div class="label-container">Număr de ore săptămână*</div>
              <div class="value-container small">
                <app-dropdown
                  [list]="totalOptionalClasses"
                  [placeholder]="'-'"
                  (elementHasBeenSelected)="weeklyHoursChange($i, $event.element)"
                  [appliedElement]="academicProgram.subjects[this.yearGradeActiveTab].optional_subjects[$i].weekly_hours_count"
                  [errorMessage]="errors[yearGradeActiveTab]?.optional_subjects[$i]?.weekly_hours_count"
                  [error]="errors[yearGradeActiveTab]?.optional_subjects[$i]?.weekly_hours_count"
                  [required]="true"
                ></app-dropdown>
              </div>
            </div>
            <ng-container>
              <div class="mobile-only">
                <div class="vertical-line"></div>
                <div class="delete-button text-button dark-text" (click)="deleteSubject($i)">Șterge</div>
              </div>
            </ng-container>
            <hr class="margin-list">
          </div>
          <div class="add-subject-button text-button blue" (click)="addSubject()">Adaugă o materie nouă</div>
        </div>
      </div>
    </ng-container>
    </ng-container>
    <ng-template #noDataMessage>

      <div class="no-results" *ngIf="!academicProgram.id">
        <div class="up-arrow icon"></div>
        <span>Alegeți un profil</span>
      </div>
      <div class="no-results red-text" *ngIf="academicProgram.id && !yearGradesTabList.length">
        Acest profil nu are ani alocați.
      </div>
    </ng-template>
    <ng-template #loadingList>
      <div class="list-count">
        Se încarcă datele...
      </div>
    </ng-template>
  </div>
</div>
