@import '../../../../assets/styles/base.scss';

.page-content {
  position: relative;

  @media (max-width: $mobile-screen-width-normal) {
    padding-top: $margin-tiny;
  }
}

#header-top-right-container {
  height: auto;

  .button-container {
    display: flex;
    flex-direction: row;
    height: 98px;
    align-items: flex-end;
    padding-bottom: calc(#{$margin-small} + 1px);

    @media screen and (max-width: $mobile-screen-width-normal)  {
      height: unset;
      padding-bottom: 0;
      padding-top: $margin-xsmall;
    }
  }

  .text-button + .text-button {
    margin-left: $margin-big;
  }
}

.tabs-container {
  margin-top: $margin-big;
  margin-bottom: $margin-tiny;
  position: sticky;
  top: $simple-header-height;
  background-color: $color-background;
  z-index: 1;

  @media (max-width: $mobile-screen-width-normal) {
    top: $mobile-nav-bar-height;
  }
}

.close-error {
  align-self: center;
  background: url('../../../../assets/img/x-white.svg');
  width: 15px;
  height: 15px;
  padding-bottom: 16px;
  margin-left: 10px;
}

.close-error:hover {
  cursor: pointer;
}

.detail-element-container {
  align-items: flex-start !important;
  justify-content: flex-start;
  margin-top: 10px !important;

  .label-container {
    height: auto;
    line-height: 30px;
    width: $fixed-width-column-large;
    min-width: $fixed-width-column-large;
    padding-right: $margin-small;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .value-container {
    width: calc(100% - #{$fixed-width-column-large});
    align-self: center;
    display: flex;
    height: 100%;

    @media screen and (max-width: $mobile-screen-width-normal) {
      width: 100%;
      align-self: flex-start;
    }

    &.profile-name {
      flex: 1;
    }

    &.small {
      width: 92px;
    }
  }

  & + & {
    margin-top: $margin-tiny;
  }

  .vertical-line {
    position: absolute;
    right: 65px;
    top: 0;
    height: calc(100% - #{$margin-small});
    width: 1px;
    background-color: $color-separator;
  }

  .delete-button {
    margin-top: 7px;
    margin-left: calc(#{$margin-big * 2});
  }
}

.subjects-container {
  padding-top: 5px;
}

.subject {
  position: relative;
  margin-top: $margin-small;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  }
  animation: fadeIn 0.2s linear 1 backwards;

  @for $i from 1 through 10 {
    &:nth-of-type(#{$i}) {
      animation-delay: calc(0.1s + #{$i} * 0.05s);
    }
  }

  &:last-of-type {
    hr {
      display: none;
    }
  }
}

hr {
  margin-top: $margin-small;
}

.add-subject-button {
  display: inline-block;
  margin: $margin-default 0;
}

.no-results {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: calc(100px - 15vh);
  height: 100px;

  .up-arrow {
    height: 50px;
    width: 60px;
    margin-bottom: $margin-default;
    background-image: url(../../../../assets/img/long-arrow.svg);
    transform: rotateZ(-90deg);
    filter: grayscale(0.93) brightness(150%);
  }
}

.mobile-only {
  display: none;
}

@media (max-width: $mobile-screen-width-normal) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: unset;
  }

  .delete-button {
    margin-top: $margin-tiny;
    width: 52px;

    &:before {
      width: 100%;
    }
  }

  .subjects-container {
    padding-top: unset;
  }

  .no-results {
    position: unset;
    transform: unset;
    margin-top: 15px;
  }
}

