@import "../../../../assets/styles/base";

.export_button {
  padding-right: $margin-default;
  background-image: url(../../../../assets/img/export.svg);
  background-repeat: no-repeat;
  background-position: right center;
  max-width: 120px;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.page-content {
  max-height: calc(var(--vh, 1vh) * 100 - #{$reports-header-two-lines-tabs});

  @media (max-width: $mobile-screen-width-normal) {
    height: calc(var(--vh, 1vh) * 100 - #{$mobile-reports-header-two-lines-tabs} - #{$mobile-nav-bar-height});
  }
}

