@import "../../../../assets/styles/base";

.export_button {
  padding-right: $margin-default;
  background-image: url(../../../../assets/img/export.svg);
  background-repeat: no-repeat;
  background-position: right center;
  max-width: 120px;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

