@import "../../../assets/styles/base";

.arrow-right {
  margin-top: $margin-default;
  width: 120%;
  background: url("../../../assets/img/long-arrow.svg") no-repeat right;
}

.link-content {
  cursor: pointer;

  &:hover {
    filter: brightness(1.3);
  }
}

.student-labels-container {

  .label {
    margin-top: $margin-xsmall;
    background-color: #E2E8EF;
    border-radius: $border-radius-normal;
    width: max-content;
    padding: $margin-xsmall $margin-big;
  }
}

.catalog-top-right {
  margin-top: -18px !important;
}

.dropdown-parent {
  width: 150px;
  margin-left: $margin-small;
}
