<div class="animated-page">
  <app-header>
    <h1 id="header-title">Situație școlară</h1>
    <div id="show-details-button"
         [class.open]="isDetailsSectionOpen"
         [class.disabled]="rip"
         (click)="isDetailsSectionOpen = !isDetailsSectionOpen;">
      <div class="bold">Detalii</div>
    </div>
    <h2 id="header-subtitle">
      <ng-container *ngIf="!rip">{{student?.full_name}}</ng-container>
      <ng-container *ngIf="rip">Se încarcă datele...</ng-container>
    </h2>
    <div id="header-subsubtitle">
      <span class="subtitle-wrapper">
        <ng-container *ngIf="!rip"><span class="bold" *ngIf="studyClass?.class_grade else noValue">{{studyClass?.class_grade}} {{studyClass?.class_letter}}</span></ng-container>
        <ng-container *ngIf="rip">...</ng-container>
      </span>
    </div>
    <div id="header-top-right-container">
      <div class="catalog-top-right">
        <div class="column">
          <div class="gray-text label">{{academicYearToDisplay}} - {{academicYearToDisplay + 1}}</div>
          <div class="value bold">{{rip ? "..." : studyClass?.academic_program_name ? studyClass?.academic_program_name : '-'}}</div>
        </div>
        <div class="column">
          <div class="gray-text label">Diriginte</div>
          <div class="value bold blue-text link-content"
               [class.arrow-right]="studyClass?.class_master.full_name"
               *ngIf="!rip"
               (click)="openUserModal($event, studyClass?.class_master.id)">
            {{studyClass?.class_master.full_name ? studyClass?.class_master.full_name : '-'}}
          </div>
          <div class="value bold" *ngIf="rip">...</div>
        </div>
      </div>
      <div class="details-container-mobile" *ngIf="isDetailsSectionOpen">
        <div class="bold" *ngIf="studyClass?.class_grade else noValue">{{studyClass?.class_grade}} {{studyClass?.class_letter}}</div>
        <hr class="mobile-horizontal">
        <div class="column">
          <div class="gray-text label">{{academicYearToDisplay}} - {{academicYearToDisplay + 1}}</div>
          <div class="value bold">{{rip ? "..." : studyClass?.academic_program_name ? studyClass?.academic_program_name : '-'}}</div>
        </div>
        <div class="column">
          <div class="gray-text label">Diriginte</div>
          <div class="value bold blue-text link-content"
               [class.arrow-right]="studyClass?.class_master.full_name"
               *ngIf="!rip"
               (click)="openUserModal($event, studyClass?.class_master.id)">
            {{studyClass?.class_master.full_name ? studyClass?.class_master.full_name : '-'}}
          </div>
          <div class="value bold blue-text link-content" *ngIf="rip">...</div>
        </div>
        <hr class="mobile-horizontal">
        <ng-template [ngTemplateOutlet]="tags"></ng-template>
      </div>
    </div>
    <div id="labels-container">
      <ng-template [ngTemplateOutlet]="tags"></ng-template>
    </div>
    <div id="header-filter">
      <app-filter>
        <span class="mobile-title">Filtrează</span>
        <div class="dropdown-parent">
          <app-dropdown
            [list]="filterData.academicYears"
            [appliedElement]="filterParams.academicYear || defaultAcademicYear"
            [displayedProperty]="'text'"
            [placeholder]="'An academic'"
            (elementHasBeenSelected)="changeAcademicYear($event.element)"
          ></app-dropdown>
        </div>
      </app-filter>
    </div>
  </app-header>
  <div class="page-content">
    <app-catalog [tableLayout]="'student_own_situation'" [data]="catalog"></app-catalog>
  </div>
</div>

<ng-template #tags>
  <div class="tags">
    <div class="label">Etichete</div>
    <div class="tag" *ngFor="let tag of student?.labels"
         [class.yellow-text]="tag.text==='Risc Abandon 1'"
         [class.red-text]="tag.text==='Risc Abandon 2'">
      {{tag.text}}
      <ng-container *ngIf="['Risc Abandon 1', 'Risc Abandon 2'].includes(tag.text)">
        <div class="tag-tooltip">
          {{student.risk_description}}
        </div>
      </ng-container>
    </div>
    <span class="no-tags" *ngIf="!student?.labels || !student?.labels.length">-</span>
  </div>
</ng-template>
<ng-template #noValue>
  <span class="value bold">
    -
  </span>
</ng-template>
<app-view-user-modal #appViewUserModal></app-view-user-modal>
