@import "../../../../assets/styles/base";

.close-button {
  position: absolute;
  right: 0;
  top: 10px;
  margin-right: 10px;

  background-color: white;
  border-radius: $border-radius-normal;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../../../assets/img/x-large.svg');
  height: 30px;
  width: 30px;
  box-shadow: 0 1px 0 0 rgba(black, 0.2);

  &:active {
    box-shadow: 0 1px 2px 0 rgba(black, 0.4);
  }

}

.modal-container {
  padding-top: $margin-default;
  min-width: 600px;
  height: 100%;

  @media (max-width: $mobile-screen-width-normal) {
    min-width: unset;
    padding-top: unset;
  }
}

.margin-list {
  margin-top: $margin-small;
  margin-bottom: $margin-small;
}

.border-left {
  border-left: 1px solid $color-separator;
  padding-left: $margin-big;
  margin-top: $margin-big;
}

.modal-body {
  padding-bottom: $margin-big;
  height: 100%;
  max-height: calc(var(--vh, 1vh) * 100 - #{$user-details-modal-default-header-height
    + $user-details-modal-default-bottom-height + $margin-default + $margin-big});
  overflow-y: scroll;
}

.subheader_bold {
  font-size: $font-size-big;
}

.risk-alert-container {
  width: calc(100% - #{$fixed-width-column});
  padding-right: $margin-default;
  @media (max-width: $mobile-screen-width-normal) {
    width: 100%;
    padding-right: $margin-tiny;
  }
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  .risk-alert-container-header {
    padding-left: $margin-default;
    padding-top: $margin-tiny;
    padding-bottom: $margin-tiny;
    height: 20%;
    background-color: $color-red;
    color: white;
    border-radius: $border-radius-normal $border-radius-normal 0 0;
    font-size: $font-size-bigish;
    @media (max-width: $mobile-screen-width-normal) {
      font-size: $font-size-small;
    }
  }

  .risk-alert-container-content {
    background-color: $color-separator;
    padding: $margin-tiny $margin-default;
    border-radius: 0 0 $border-radius-normal $border-radius-normal;

    .label-container {
      width: fit-content;
      margin-right: $margin-tiny;
      align-self: baseline;
    }

    .value-container {
      max-width: fit-content;
    }

    @media (max-width: $mobile-screen-width-normal) {
      padding-top: $margin-xsmall;
      .margin-top-small {
        margin-top: $margin-tiny;
      }
    }
  }

  .value-container {
    max-width: calc(100% - #{$fixed-width-column-small});
  }
}

.margin-bottom-default {
  padding-bottom: $margin-default;
}

.value-container {
  &.full-width-with-risk-alert {
    width: calc(100% - #{$fixed-width-column + $margin-default});
  }
}

.labels-string {
  white-space: pre-wrap;
}

@media (max-width: $mobile-screen-width-normal) {
  .value-container {
    &.full-width-with-risk-alert {
      width: initial;
      padding-left: initial;
    }
  }
  .extra-data {
    margin-top: $margin-xsmall;
  }
  .detail-element-container {
    &.header {
      &.margin-top-small {
        margin-top: unset;
      }
    }
  }

  .modal-body {
    max-height: calc(var(--vh, 1vh) * 100 - #{$mobile-browser-interface-height + $mobile-modal-normal-header-and-footer-height});

  }
}
