<div class="animated-page">
  <app-header>
    <a id="header-back-button" [routerLink]="['/manage-schools']">
      <div class="arrow left"></div>
      <div class="blue-text bold">
        Gestionare unități de învățământ
      </div>
    </a>
    <div id="header-title">
      <h1 id='header-add-edit-title'>Editare unitate de învățământ</h1>
    </div>
    <div id="header-top-right-container">
      <div class="button-container">
        <div class="text-button" (click)="onSubmit()">Salvează</div>
        <div class="text-button dark-text" [routerLink]="['/manage-schools/']"
             (onClick)="onCancel()">Anulează
        </div>
      </div>
    </div>
  </app-header>
  <div class="page-content">
    <div class="detail-element-container">
      <div class="label-container fixed-width">Județ</div>
      <div class="value-container bold">{{ schoolDetails?.district }}</div>
    </div>
    <div class="detail-element-container">
      <div class="label-container fixed-width">Localitate</div>
      <div class="value-container bold">{{schoolDetails?.city}}</div>
    </div>
    <div class="detail-element-container header blue-text">
      <div class="label-container fixed-width">Nume</div>
      <div class="value-container">{{ schoolDetails?.name }}</div>
    </div>
    <div class="detail-element-container">
      <div class="label-container fixed-width">Stare</div>
      <div class="value-container bold {{schoolDetails?.is_active ? 'green-text bold' : 'red-text bold' }}">{{schoolDetails?.is_active ? 'Activă' : 'Dezactivată'}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="label">Categorie*</div>
      <div class="dropdown-parent value">
        <app-dropdown
          [withMultipleSelection]="true"
          [error]="schoolDetailsError?.categories"
          [errorMessage]="schoolDetailsError?.categories ? schoolDetailsError?.categories : ''"
          [list]="data.categories ? data.categories : []"
          [displayedProperty]="'name'"
          (selectionHasBeenConfirmed)="handleInputChange($event, 'categories')"
          [appliedSelection]="schoolDetails?.categories"
          [placeholder]="'-'"
          [required]="true"
        ></app-dropdown>
      </div>
    </div>
    <div class="row">
      <div class="label">Profil*</div>
      <div class="dropdown-parent value">
        <app-dropdown
          [isDisabled]="!schoolDetails?.categories[0]"
          [error]="schoolDetailsError?.academic_profile"
          [errorMessage]="schoolDetailsError?.academic_profile"
          [list]="data.academic_profiles"
          [displayedProperty]="'name'"
          (elementHasBeenSelected)="handleInputChange($event, 'academic_profile')"
          [appliedElement]="schoolDetails?.academic_profile"
          [withSearch]="true"
          [required]="true"
        ></app-dropdown>
      </div>
    </div>
    <div class="detail-element-container margin-top-small">
      <div class="label-container fixed-width">Adresă*</div>
      <div class="value-container full-width">
        <app-input-new
          (inputChange)="addInput($event, 'address')"
          [error]="schoolDetailsError?.address"
          [value]="schoolDetails?.address"
          [maxLength]="100"
        ></app-input-new>
      </div>
    </div>
    <div class="detail-element-container margin-top-small">
      <div class="label-container fixed-width">Număr de telefon*</div>
      <div class="value-container full-width">
        <app-input-new
          (inputChange)="addInput($event, 'phone_number')"
          [error]="schoolDetailsError?.phone_number"
          [value]="schoolDetails?.phone_number"
          [maxLength]="20"
        ></app-input-new>
      </div>
    </div>
    <div class="detail-element-container margin-top-small">
      <div class="label-container fixed-width">Adresă de email*</div>
      <div class="value-container full-width">
        <app-input-new
          (inputChange)="addInput($event, 'email')"
          [error]="schoolDetailsError?.email"
          [value]="schoolDetails?.email"
          [maxLength]="150"
        ></app-input-new>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="label">Director*</div>
      <div class="dropdown-parent value">
        <app-dropdown
          [withAddUserButton]="true"
          [userRoleToAdd]="'SCHOOL_PRINCIPAL'"
          (addUserModalCallbackFunction)="confirmAddingUser($event)"
          [error]="schoolDetailsError?.school_principal"
          [errorMessage]="schoolDetailsError?.school_principal"
          [list]="data.school_principals"
          [displayedProperty]="'full_name'"
          (elementHasBeenSelected)="handleInputChange($event, 'school_principal')"
          [appliedElement]="schoolDetails?.school_principal"
          [withSearch]="true"
          [required]="true"
        ></app-dropdown>
      </div>
    </div>
  </div>
</div>
