<div class="table-cell"
     [class.expandable]="isExpandable"
     [class.expanded]="isExpanded"
     (click)="onCellClick()">

  <div class="expanded-overlay" *ngIf="isExpanded">
    <div class="label">
      <span class="char" *ngFor="let char of detailsLabel.split('')">{{char}}</span>
    </div>
    <div class="x-button" (click)="xClick($event)"></div>
  </div>
  <div *ngIf="isExpandable" class="expand-triangle"></div>


  <ng-container [ngSwitch]="cellType">

    <!-- SIMPLE NUMBER ----------------------------------  -->
    <div *ngSwitchCase="'simple-number'" class="simple-number-cell">
      <div *ngIf="!data" class="list-element">-</div>
      <div *ngIf="data" class="bg-element">{{!data ? '0' : data}}</div>
    </div>

    <!-- SEMESTER AVERAGE ----------------------------------  -->
    <div *ngSwitchCase="'sem-avg'" class="semester-average-cell">
      <div *ngIf="!data" class="bg-element">-</div>
      <div *ngIf="data" class="bg-element {{data >= pivotPoint ? 'blue-text' : 'red-text'}}">
        {{data}}
      </div>
    </div>

    <!-- ANNUAL AVERAGE ----------------------------------  -->
    <div *ngSwitchCase="'annual-avg'" class="annual-average-cell">
      <div *ngIf="!data" class="list-element">-</div>

      <div *ngIf="data && !data[1]" class="bg-element annual {{data >= pivotPoint ? 'blue-background' : 'red-background'}}">
        {{data}}
      </div>

      <!--2 grades: before and after retry -->
      <div *ngIf="data?.length == 2 && data[1]">
        <div class="bg-element big-bg-element annual first-avg {{data[0] >= pivotPoint ? 'blue-background' : 'red-background'}}">{{data[0] ? data[0] : '-'}}</div>
        <div class="bg-element big-bg-element annual second-avg {{data[1] >= pivotPoint ? 'blue-background' : 'red-background'}}">{{data[1] ? data[1] : '-'}}</div>
      </div>

    </div>

    <!-- ABSENCES TOTAL ----------------------------------  -->
    <div *ngSwitchCase="'absences-count'" class="absences-count-cell total">
      <div *ngIf="!data" class="bg-element big-bg-element blue-text">0</div>
      <div *ngIf="data" class="bg-element big-bg-element {{data >= exceptionRule || data >= pivotPoint ? 'red-text' : 'blue-text'}}">{{data}}</div>
    </div>

    <!-- GRADES LIST ----------------------------------  -->
    <div *ngSwitchCase="'grades-list'" class="list-cell">
      <div class="list">
        <div *ngIf="!data || !data.grades || !data.grades.length" class="list-element">-</div>
        <div *ngFor="let grade of data?.grades | slice:0:maxGrades" class="list-element" [class.red-text]="grade.grade < 5">
          {{grade.grade}}
        </div>
        <div *ngIf="data?.grades && data.grades.length > maxGrades" class="hidden-items">
          + {{data?.grades.length - maxGrades}}
        </div>
      </div>

      <div class="horizontal">
        <div *ngIf="data?.thesis"
             class="bg-element small-bg-element {{data?.thesis.grade < 5  ? 'red-text' : 'blue-text'}}">
          {{data.thesis.grade}}
        </div>
        <div *ngIf="data?.avg" class="bg-element average {{data?.avg >= pivotPoint ? 'blue-text' : 'red-text'}}">
          {{data.avg}}
        </div>
      </div>
      <div class="horizontal-mobile">
        <div class="bg-element average {{data?.avg ? data.avg >= pivotPoint ? 'blue-text' : 'red-text' : ''}}">
          {{data?.avg ? data.avg : '-'}}
        </div>
      </div>
    </div>

    <!-- ABSENCES LIST ----------------------------------  -->
    <div *ngSwitchCase="'absences-list'" class="list-cell">
      <div class="list">
        <div *ngIf="data?.length === 0" class="list-element">-</div>
        <div *ngFor="let item of data | slice:0:3" class="list-element" [class.red-text]="!item.is_founded">
          {{displayDate(item.taken_at)}}
        </div>
        <div *ngIf="this.data?.length > 3" class="hidden-items"> + {{data?.length - 3}}</div>
      </div>

      <div class="horizontal">
        <div *ngIf="data?.length" class="bg-element {{data?.length >= exceptionRule || data?.length >= pivotPoint ? 'red-text' : 'blue-text'}}">
          {{data?.length}}
        </div>
      </div>
      <div class="horizontal-mobile">
        <div class="bg-element big-bg-element {{data?.length >= exceptionRule || data?.length >= pivotPoint ? 'red-text' : 'blue-text'}}">
          {{data?.length}}
        </div>
      </div>
    </div>

    <!-- NAME ----------------------------------  -->
    <div *ngSwitchCase="'name-cell'" class="name-cell">
      <div class="name {{ activeTabId === 0 ? 'dark-text' : 'blue-text'}} clickable" (click)="openUserDetailsModal(data.id)">
        {{data.full_name}}
        <div *ngIf="activeTabId === 0" class="arrow right"></div>
      </div>
      <div *ngIf="activeTabId !== 0" class="secondary-text clickable"
           [routerLink]="'/messages/create'"
           [queryParams]="{userId: data?.id, userName: data?.full_name}">
        Trimitere mesaj
      </div>
      <div *ngIf="activeTabId === 0"
           class="link-content-button blue-text"
           [routerLink]="['/my-classes/' + classId + '/students/' + data.id + '/catalog']">
        Toate materiile
      </div>
      <app-view-user-modal #userDetailsModal></app-view-user-modal>
    </div>

    <!-- SUBJECT NAME ----------------------------------  -->
    <div *ngSwitchCase="'subject-name-cell'" class="name-cell">
      <div class="name">
        {{data?.subject_name}}
      </div>
      <div class="blue-text secondary-text clickable" (click)="openUserDetailsModal(data?.teacher?.id)">
        {{data?.teacher?.full_name}}
      </div>
      <app-view-user-modal #userDetailsModal></app-view-user-modal>
    </div>

    <!-- LINK BUTTON ----------------------------------  -->
    <div *ngSwitchCase="'link-button'">
      <div *ngIf="activeTabId !== 0" class="link-button-cell">
        <div class="button text-button" (click)="onLinkClick.emit()">
          Toate materiile
        </div>
      </div>
      <div *ngIf="activeTabId === 0" class="secondary-text clickable blue-text"
           [routerLink]="'/messages/create'"
           [queryParams]="{userId: data?.id, userName: data?.full_name}">
        Trimitere mesaj
      </div>
    </div>

    <!-- PLAIN TEXT ----------------------------------  -->
    <div *ngSwitchCase="'plain-text'" class="plain-text-cell">
      <div class="text">{{data || '-'}}</div>
    </div>

    <!-- SECOND EXAMINATION COUNT ----------------------------------  -->
    <div *ngSwitchCase="'second-examinations-count'" class="plain-text-cell">
      <div class="text {{data >= 3 ? 'red-text' : ''}}">{{data || '-'}}</div>
    </div>

    <!-- LABELS ----------------------------------  -->
    <div *ngSwitchCase="'labels'" class="labels-observations">
      <div class="tags" *ngIf="isStudentsSituation">
        <div class="tag"
             *ngIf="data && data[0]"
             [class.yellow-text]="data[0].text==='Risc Abandon 1'"
             [class.red-text]="data[0].text==='Risc Abandon 2'">
          {{data[0].text.length > 15 ? data[0].text.slice(0, 15) + '...' : data[0].text}}
          <ng-container *ngIf="data?.length < 2">
            <div class="tag-tooltip">
              {{dataRow.risk_description}}
            </div>
          </ng-container>
        </div>
        <div *ngIf="!data || !data[0]">-</div>
        <ng-container *ngIf="data && data?.length > 1">
          <div class="bold plus-tags">+{{data?.length - 1}}</div>
          <div class="tags-overlay" *ngIf="data?.length">
            <div class="tag"
                 *ngFor="let tag of data"
                 [class.yellow-text]="tag.text==='Risc Abandon 1'"
                 [class.red-text]="tag.text==='Risc Abandon 2'">
              {{tag.text}}
              <ng-container *ngIf="(tag.text).includes('Risc')">
                <div class="tag-tooltip">
                  {{dataRow.risk_description}}
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="button labels" *ngIf="!isStudentsSituation"
           (click)="openLabelsModal(studentData)">
        <div>Etichete</div>
        <div class="label-count">{{studentData?.labels?.length}}</div>
      </div>
      <div class="button observations" *ngIf="!isStudentsSituation"
           (click)="openObservationsModal(studentData, studentCatalogID, tableLayoutAsIdentifier)">
        Observații
      </div>
      <app-pupil-remarks-modal #viewRemarksModal></app-pupil-remarks-modal>
      <app-pupil-labels-modal #viewLabelsModal></app-pupil-labels-modal>
    </div>
  </ng-container>
</div>
