<div class="animated-page">
  <app-header>
    <a id="header-back-button" [routerLink]="['/my-classes']">
      <div class="arrow left"></div>
      <div class="blue-text bold">Clasele mele</div>
    </a>
    <h1 id="header-title">Clasa {{classDetails?.class_grade}} {{classDetails?.class_letter}}</h1>
    <h2 id="header-subtitle">{{ activeTab?.name }}</h2>
    <div id="header-top-right-container">
      <div class="catalog-top-right desktop-only">
        <div class="column">
          <div class="gray-text label">{{classDetails?.academic_year}} - {{classDetails?.academic_year + 1}}</div>
          <div class="value bold">{{classDetails?.academic_program_name}}</div>
        </div>
        <div class="column">
          <div class="gray-text label">Diriginte</div>
          <div class="value bold blue-text arrow-right link-content"
               (click)="openUserModal($event, classDetails?.class_master.id)">
            {{classDetails?.class_master.full_name}}</div>
        </div>
      </div>
      <div class="catalog-top-right mobile-only">
        <div class="column">
          <div class="gray-text label">{{classDetails?.academic_year}} - {{classDetails?.academic_year + 1}}</div>
          <div class="value bold">{{classDetails?.academic_program_name}}</div>
          <div class="gray-text label">Diriginte</div>
          <div class="value bold blue-text arrow-right link-content"
               (click)="openUserModal($event, classDetails?.class_master.id)">
            {{classDetails?.class_master.full_name}}</div>
        </div>
      </div>
    </div>
    <div id="header-sort">
      <div class="label desktop-only">Sortează</div>
      <div class="dropdown-parent desktop-only">
        <app-dropdown
          [list]="filterData.sortCriteria"
          [displayedProperty]="'text'"
          (elementHasBeenSelected)="changeSortingCriterion($event.element)"
          [appliedElement]="filterParams.sortCriterion"
          [placeholder]="'Sortează'"
          [required]="true"
        ></app-dropdown>
      </div>
      <hr>
    </div>
    <div id="header-filter" class="mobile-only">
      <app-filter
        labelName="Acțiuni"
        [noCount]="false">
        <ng-container id="list-count-mobile">
          <div *ngIf="tableData; else loadingListMobile" class="list-count-mobile">
            {{pupilCount}} utilizatori afișați din {{pupilCount}}
          </div>
        </ng-container>
        <span class="mobile-title">Sortează</span>
        <div class="dropdown-parent">
          <app-dropdown
            [list]="filterData.sortCriteria"
            [displayedProperty]="'text'"
            (elementHasBeenSelected)="changeSortingCriterion($event.element)"
            [appliedElement]="filterParams.sortCriterion"
            [placeholder]="'Sortează'"
            [required]="true"
          ></app-dropdown>
        </div>
        <hr class="toolbar-hr-mobile">
        <app-toolbar [buttonsObjList]="provideButtonsList()"></app-toolbar>
      </app-filter>
    </div>
    <div id="tabs-container">
      <app-tabs (tabHasBeenSelected)="changeTab($event)"
                [activeTab]="activeTab?.id"
                [tabsList]="tabs">
      </app-tabs>
    </div>
  </app-header>
  <div class="page-content">
    <div [ngSwitch]="activeTab?.id" class="catalog-wrapper" *ngIf="tableData else loadingList">
      <ng-container *ngSwitchCase="0">
        <app-catalog
          [data]="tableData"
          [tableLayout]="activeTab?.tableLayout"
          [activeTabId]="activeTab?.id"
          (onLinkClick)="onLinkClick($event)"
        ></app-catalog>
      </ng-container>
      <ng-container *ngFor="let subject of classDetails?.taught_subjects">
        <div *ngSwitchCase="subject.id">
          <app-catalog [data]="tableData"
                       [isClassMaster]="classDetails?.is_class_master"
                       [tableLayout]="activeTab?.tableLayout"
                       (addGradeToStudent)="saveSingleGrade($event)"
                       (addAbsenceToStudent)="addSingleAbsence($event)"
                       (deleteGrade)="deleteGrade($event)"
                       (deleteAbsence)="deleteAbsence($event)"
                       (authorizeAbsence)="authorizeAbsence($event)"
                       (onLinkClick)="onLinkClick($event)"
          ></app-catalog>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="animated-page desktop-only">
  <div class="toolbar-container">
    <app-toolbar [buttonsObjList]="provideButtonsList()" >
      <ng-container id="count-container" *ngIf="tableData else loadingList">
        {{pupilCount}} elevi afișați din {{pupilCount}}
      </ng-container>
    </app-toolbar>
  </div>
</div>

<ng-template #loadingList>
  <div class="list-count">
    Se încarcă datele...
  </div>
</ng-template>

<ng-template #loadingListMobile>
  <div class="list-count-mobile">
    Se încarcă datele...
  </div>
</ng-template>

<app-add-grades-bulk-modal
  #addGradesBulkModal
  [academicYearCalendar]="academicYearCalendar"
></app-add-grades-bulk-modal>
<app-add-absences-bulk-modal
  #addAbsencesBulkModal
  [academicYearCalendar]="academicYearCalendar"
></app-add-absences-bulk-modal>
<app-settings-modal
  #settingsModal
  (refreshCatalogData)="refreshClassData()"
></app-settings-modal>
<app-view-user-modal #appViewUserModal></app-view-user-modal>
