@import "../../../../assets/styles/base";


.card {
  min-width: 800px;
}

.card-title {
  display: block;
  max-width: calc(100% - 230px);
}

@media (max-width: $mobile-screen-width-intermediate) {
  .page-content {
    .card {
      padding: $margin-tiny $margin-small 35px;

      .card-right-container {
        .message-status {
          hr.vertical {
            position: unset;
            margin-right: $margin-small;
          }

          .read-status {
            min-width: 38px;
            margin-right: $margin-small;
          }
        }
      }

      .targets {
        .message-platform {
          position: absolute;
          bottom: $margin-tiny;
          display: block;
          margin-top: unset;
        }

        .receiver-info-wrapper .cell .text-item .arrow.right {
          display: none;
        }
      }

      .card-title {
        max-width: 100%;
      }
    }
  }

  .list-count-mobile {
    margin-left: $margin-xsmall;
  }

  .link-content {
    &.arrow-right::before {
      content: url("../../../../assets/img/long-arrow.svg");
      padding-left: $margin-xsmall;
      margin-top: -2px;
      float: right;
    }
  }
}
