@import "../../../../assets/styles/base";

h2 {
  color: white;
}

.modal-body {
  padding-top: $margin-tiny;
  padding-bottom: $margin-default;
  max-width: calc(100vw - 100px);
  margin-right: 0;
}

.label {
  width: $fixed-width-column;
}

.mail-phone-switch {
  display: flex;
  margin-top: $margin-tiny;
  width: 100%;

  .label {
    padding-top: 5px;
  }

  .vertical {
    flex: 1;
  }

  .row {
    display: flex;
    width: 100%;
    height: auto;
  }


  .radio-container {
    min-width: 150px;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  }

  input {
    margin-left: $margin-default;
    flex: 1;
    animation: fadeIn 0.1s 0.1s linear 1 backwards;
  }
}

.text-button + .text-button {
  margin-left: $margin-big;
}

.error-message {
  color: $color-red;
  font-size: $font-size-small;
  margin-top: 3px;
  animation: appearMessage 0.1s 0s $ease-out 1 backwards;

  @keyframes appearMessage {
    0% {
      font-size: 0;
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
  }
}

.input-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-left: $margin-default;

  .error-input {
    height: 30px;
  }
}

@media (max-width: $mobile-screen-width-intermediate) {
  .mail-phone-switch {
    flex-flow: column;
    margin-top: $margin-default;

    .row {
      display: block;
      height: auto;

      margin-top: $margin-tiny;
    }

    input {
      height: 30px;
      margin-left: 0;
      margin-top: $margin-tiny;
      width: 100%;
    }

    .input-container {
      margin-left: unset;
      margin-top: $margin-tiny;
    }
  }

}
