@import '../../../assets/styles/base.scss';

.background-shadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#0a0a10, 0.6);
  z-index: 1000000;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: fadein 0.5s;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.modal {
  min-height: 100px;
  min-width: 200px;
  height: auto;
  box-shadow: 0 5px 30px 0 rgba(#0a0a10, 0.05);

  animation: fadein 0.5s;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media screen and (max-height: 750px) { // Specific size given to handle all Galaxy devices
    top: calc(50% - 25px);
  }

  @media screen and (max-height: 650px) {
    top: 50%;
  }
}

.header {
  width: auto;
  min-height: 50px;
  background-color: $color-background;
  padding: $margin-big $margin-xbig $margin-default;

  &.dark {
    background-color: $color-text-normal;
  }

  &.blue {
    background-color: $color-blue;
  }

  &.red {
    background-color: $color-red;
  }

  &.yellow {
    background-color: $color-yellow;
  }

  &.border-bottom {
    border-bottom: 1px solid $color-separator;
  }
}

.body {
  background-color: $color-background;
  width: auto;
  min-height: 100px;
  padding: 0 $margin-xbig;
}

.footer {
  background-color: white;
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: flex-end;
  padding: $margin-default $margin-xbig;
}


.top-radius {
  border-radius: $border-radius-normal $border-radius-normal 0 0;
}

.bottom-radius {
  border-radius: 0 0 $border-radius-normal $border-radius-normal;
}

.top-radius.bottom-radius {
  border-radius: $border-radius-normal;
}

.hidden {
  display: none;
}

@media (max-width: $mobile-screen-width-normal) {
  .header {
    padding-left: $margin-default;
    padding-right: $margin-default;
  }
  .body {
    padding-left: $margin-default;
    padding-right: $margin-default;
  }

  .footer {
    padding-left: $margin-default;
    padding-right: $margin-default;
  }

}

@media (max-width: $mobile-screen-width-intermediate) {
  .modal {
    min-height: 100px;
    min-width: 200px;
    width: calc(100% - 40px);
    margin-bottom: 65px;
  }
}
