@import "../../../assets/styles/base";

.page-content {
  position: relative;
}

.dev-warning {
  color: $color-red;
  position: absolute;
  right: 80px;
  top: $margin-default;
}

.dropdown-parent {
  width: 150px;
  margin-left: $margin-small;
  margin-bottom: 10px;
}

.card {
  margin-top: $margin-default;
  position: relative;


  .card-title {
    margin-top: -5px;
    transition: color 0.1s;
    cursor: pointer;
    width: auto;
    font-size: $font-size-big;
    color: $color-text-normal;
  }

  .card-right-container {
    position: absolute;
    right: $margin-big;
    top: $margin-default;
    height: calc(100% - #{$margin-default * 2});
    width: auto;
    display: flex;
    align-items: center;

    .school-status {
      position: relative;

      hr.vertical {
        background-color: rgba(white, 0.5);
        margin: 0 $margin-tiny 0 0;
        position: absolute;
        height: calc(100% - 18px);
        top: 9px;
        right: 88px;
      }

      .text-button {
        &:before {
          left: -10px;
          top: -4px;
          width: calc(100% + 22px);
          height: calc(100% + 8px);
          border-radius: 3px;
        }
      }
    }

    .vertical {
      margin-left: $margin-default;
      margin-right: $margin-default;
    }
  }

  &:hover {
    .card-title {
      color: $color-blue;
    }
  }
}

.spaced-out {
  margin-bottom: 15px;
}

.card.loading-card {
  opacity: 0.7;
  pointer-events: none;

  .card-left-container {
    width: 50%;
  }

  .card-title {
    width: 100%;
    background-color: #E2E5EA;
    height: 21px;
    margin-top: 4px;
  }

  .category {
    width: 50%;
    background-color: #E2E5EA;
    height: 13px;

    margin-top: $margin-small;
  }
}

@media (max-width: $mobile-screen-width-normal) {
  .card:first-of-type {
    margin-top: 0;
  }

  .page-content {
    padding-bottom: $margin-xbig;
  }
}

@media (max-width: $mobile-screen-width-intermediate) {
  .row {
    display: flex;
    flex-direction: row;
  }

  .page-content {
    padding: $margin-xsmall $margin-default $margin-xbig;

    hr.vertical {
      position: absolute;
      height: 1px;
      width: calc(100% - 35px);
      top: 70px;
      right: 0;
    }

    .card {
      margin-top: $margin-tiny;
      padding: $margin-tiny $margin-small;

      .card-title {
        font-size: $font-size-bigish;
        margin-top: unset;

        &.text-button {
          display: block;
        }
      }

      .card-right-container {
        position: unset;
        flex-direction: row;
        align-items: flex-start;

        .school-status {
          width: 100%;
          border-radius: 5px;
          margin-top: $margin-small;
          margin-bottom: $margin-small;
        }

        .text-button {
          margin-bottom: $margin-xsmall;
          padding-right: $margin-small;

          &:before {
            top: -2px;
          }
        }
      }

      .categories {
        margin-top: $margin-tiny;

        .category {
          font-size: $font-size-small;
          margin-top: $margin-xsmall;
        }
      }
    }

    .list-element-animation {
      display: flex;
      flex-direction: column;
    }
  }
}
