@import "../../../../assets/styles/base";


.button-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: flex-end;
  padding-bottom: $margin-default;

  .text-button {
    margin: 0 10px;
    &:first-of-type {
      margin-left: 0;
    }
  }
}

.margin-list {
  margin-top: $margin-big;
  margin-bottom: $margin-small;
}

.border-left {
  border-left: 1px solid $color-separator;
  padding-left: $margin-big;
  margin-top: $margin-small;
}

.error-toast {
  position: fixed;
  display: flex;
  justify-content: center;
  margin-left: $margin-small;
  margin-right: $margin-small;

}

.close-error {
  align-self: center;
  background: url('../../../../assets/img/x-white.svg');
  width: 15px;
  height: 15px;
  padding-bottom: 16px;
  padding-right: $margin-tiny;
  margin-left: $margin-tiny;

  &:hover {
    cursor: pointer;
  }
}
