<div class="animated-page">
  <app-header>
    <h1 id="header-title">Situație elevi</h1>
    <div id="header-filter">
      <app-filter
      [noCount]="false">
        <ng-container *ngIf="!this.requestInProgress" id="list-count-mobile">
          <div class="list-count-mobile">
            {{students.length}} utilizatori afișați din {{studentsTotalCount}}
          </div>
        </ng-container>
        <span class="mobile-title">Filtrează</span>
        <app-filter-search
          [searchString]="filterParams.search"
          (searchSubmit)="changeSearch($event)"
        ></app-filter-search>
        <div class="dropdown-parent">
          <app-dropdown
            [list]="filterData.academicYears"
            [appliedElement]="filterParams.academicYear || defaultAcademicYear"
            [displayedProperty]="'text'"
            [placeholder]="'An academic'"
            (elementHasBeenSelected)="changeRequestedAcademicYear($event.element); changeAcademicYear($event.element)"
            [required]="true"
          ></app-dropdown>
        </div>
        <div class="dropdown-parent">
          <app-dropdown
            [list]="filterData.genericAcademicPrograms"
            [displayedProperty]="'name'"
            (elementHasBeenSelected)="changeGenericAcademicProfile($event.element)"
            [appliedElement]="filterParams.genericAcademicProgram"
            [placeholder]="'Profil academic'"
            [withSearch]="true"
          ></app-dropdown>
        </div>
        <div class="dropdown-parent">
          <app-dropdown
            [list]="filterData.studyClassGrades"
            (elementHasBeenSelected)="changeStudyClassGrade($event.element)"
            [appliedElement]="filterParams.studyClassGrade"
            [placeholder]="'Clasă'"
          ></app-dropdown>
        </div>
        <hr class="mobile-horizontal">
        <span class="mobile-title">Sortează</span>
        <div class="dropdown-parent mobile-sort">
          <app-dropdown
            [list]="filterData.sortCriteria"
            [appliedElement]="filterParams.sortCriterion || defaultSortingCriterion"
            [displayedProperty]="'text'"
            (elementHasBeenSelected)="changeSortingCriterion($event.element)"
            [placeholder]="'Sortează'"
          ></app-dropdown>
        </div>
        <div class="text-button delete-filters-button" (click)="deleteFilters()">Șterge Filtre</div>
      </app-filter>
    </div>
    <div id="header-sort">
      <div class="label desktop-sort">Sortează</div>
      <div class="dropdown-parent desktop-sort">
        <app-dropdown
          [list]="filterData.sortCriteria"
          [displayedProperty]="'text'"
          (elementHasBeenSelected)="changeSortingCriterion($event.element)"
          [appliedElement]="filterParams.sortCriterion"
          [placeholder]="'Sortează'"
        ></app-dropdown>
      </div>
    </div>
    <div id="header-bottom-right-container">
      <div class="list-count">
        {{students.length}} utilizatori afișați din {{studentsTotalCount}}
      </div>
    </div>
  </app-header>

  <div class="page-content">
    <div *ngIf="!requestInProgress && !initialRequestInProgress; else loadingListCountMobile">
      <ng-container [ngSwitch]="accountRole">
        <app-students-situation-ors
          *ngSwitchCase="'ADMINISTRATOR'"
          [students]="students"
        ></app-students-situation-ors>
        <app-students-situation-teacher-principal
          *ngSwitchCase="'TEACHER'"
          (onLinkClick)="onLinkClick($event)"
          [students]="students"
        ></app-students-situation-teacher-principal>
        <app-students-situation-teacher-principal
          *ngSwitchCase="'SCHOOL_PRINCIPAL'"
          (onLinkClick)="onLinkClick($event)"
          [students]="students"
        ></app-students-situation-teacher-principal>
      </ng-container>
    </div>
    <ng-template #loadingListCountMobile>
      <div class="list-count">Se încarcă datele...</div>
    </ng-template>

  </div>
</div>
