@import "../../../assets/styles/base";

.page-content {
  padding-right: 0;

  @keyframes contentAppear {
    0% {
      opacity: 0;
      background-color: opacity($color-background);
    }
    40% {
      opacity: 0;
      background-color: opacity($color-background);
    }
    100% {
      opacity: 1;
      background-color: opacity($color-background);
    }

  }
  animation: contentAppear 2.9s linear 1 backwards;
}

.dropdown-parent {
  width: 171px;
  margin-left: $margin-small;
}

.mobile-horizontal {
  display: none;
}

.mobile-sort {
  display: none;
}

#header-sort {
  display: flex;
  align-items: baseline;
}

@media (max-width: $mobile-screen-width-normal) {

  .mobile-horizontal {
    display: unset;
    margin-bottom: $margin-default;
    margin-top: $margin-default;
    opacity: 30%;
  }

  .desktop-sort {
    display: none;
  }

  .mobile-sort {
    display: unset;
  }

}

