<div class="animated-page">
  <app-header>
    <h1 id="header-title">Acasă</h1>
    <h2 id="header-subtitle">Bine ai revenit, <span class="bold">{{ userDetails?.full_name }}</span>!</h2>
    <div id="header-subsubtitle">Situație școlară <span class="bold">{{ userDetails.children[0].full_name }}</span>
    </div>
  </app-header>
  <div class="page-content">
    <div class="statistics-container">
      <div class="statistics card">
        <h2 class="margin-bottom">Statistici</h2>
        <div class="card grey-background text-card">
          <div class="text-row margin-bottom-small">
            <div class="medium border-right">Notă purtare</div>
            <h1 class=
                  "{{ (childStatistics?.behavior_grade_sem1 ? childStatistics?.behavior_grade_sem1 : childStatistics?.behavior_grade_annual) > 5
                      ? 'blue-text' : 'red-text' }}"
            >{{ childStatistics?.behavior_grade_sem1 ? childStatistics?.behavior_grade_sem1 : childStatistics?.behavior_grade_annual }}</h1>
          </div>
        </div>
        <div class="card grey-background text-card">
          <div class="text-row margin-bottom-small">
            <div class="medium border-right">Medie anuală</div>
            <h1 class=""> 10 </h1>
          </div>
          <hr>
          <div class="text-row">
            <div class="border-right simple-text">Loc clasă în funcție de medie</div>
            <div
              class="big-text margin-top">{{ childStatistics?.class_place_by_avg_sem1 ? childStatistics?.class_place_by_avg_sem1
              : (childStatistics?.class_place_by_avg_annual ? childStatistics?.class_place_by_avg_annual : '-')}}</div>
          </div>
          <div class="text-row">
            <div class="border-right simple-text">Loc școala în funcție de medie</div>
            <div
              class="big-text margin-top">{{ childStatistics?.school_place_by_avg_sem1 ? childStatistics?.school_place_by_avg_sem1
              : (childStatistics?.school_place_by_avg_annual ? childStatistics?.school_place_by_avg_annual : '-')}}</div>
          </div>
        </div>
        <div class="card grey-background text-card">
          <div class="text-row margin-bottom-small">
            <div class="medium border-right">Număr absențe / an</div>
            <h1
              class="red-text">{{ childStatistics?.unfounded_abs_count_sem1 ? childStatistics?.unfounded_abs_count_sem1
              : (childStatistics?.unfounded_abs_count_annual ? childStatistics?.unfounded_abs_count_annual : '-')}}</h1>
          </div>
          <hr>
          <div class="text-row">
            <div class="border-right simple-text">Loc clasă în funcție de absențe</div>
            <div
              class="big-text margin-top">{{ childStatistics?.class_place_by_abs_sem1 ? childStatistics?.class_place_by_abs_sem1
              : (childStatistics?.class_place_by_abs_annual ? childStatistics?.class_place_by_abs_annual : '-')}}</div>
          </div>
          <div class="text-row">
            <div class="border-right simple-text">Loc școală în funcție de absențe</div>
            <div
              class="big-text margin-top">{{ childStatistics?.school_place_by_abs_sem1 ? childStatistics?.school_place_by_abs_sem1
              : (childStatistics?.school_place_by_abs_annual ? childStatistics?.school_place_by_abs_annual : '-')}}</div>
          </div>
        </div>
      </div>

      <div class="recent-activity card-table-container card">
        <div class="card-table-header">
          <div class="big-text bold card-title-text">Istoric activitate școlară</div>
          <div class="text-item link-content blue-text bold web more-button arrow-right"
               [routerLink]="['/reports']" [queryParams]="{top_tab: 'student_school_activity'}"
          >Mai multe rapoarte</div>
        </div>
        <div class="table-container">
          <app-reports-table [tableColumns]="childActivityTable"
                             [tableData]="childSchoolActivity">
          </app-reports-table>
        </div>
        <div class="text-item link-content blue-text bold mobile more-button arrow-right"
             [routerLink]="['/reports']" [queryParams]="{top_tab: 'student_school_activity'}"
        >Mai multe rapoarte</div>
      </div>
    </div>

    <div class="card-table-container card">
      <div class="card-table-header">
        <div class="big-text bold card-title-text">Top materii cu risc</div>
        <div class="text-item link-content blue-text bold more-button arrow-right web"
             [routerLink]="['/reports']" [queryParams]="{top_tab: 'student_subjects_at_risk'}"
        >Mai multe rapoarte</div>
      </div>
      <div class="table-container">
        <app-reports-table [tableColumns]="childSubjectsAtRiskTable"
                           [tableData]="childSubjectsAtRisk">
        </app-reports-table>
      </div>
      <div class="text-item link-content blue-text bold more-button arrow-right mobile"
           [routerLink]="['/reports']" [queryParams]="{top_tab: 'student_subjects_at_risk'}"
      >Mai multe rapoarte</div>
    </div>

    <div class="chart-container">
      <div class="chart-title">
        <div class="big-text bold">Evoluție număr absențe</div>
        <div class="text-item link-content blue-text bold more-button arrow-right web"
             [routerLink]="['/reports']" [queryParams]="{top_tab: 'student_absences_evolution'}"
        >Mai multe rapoarte</div>
      </div>
      <div class="chart-subtitle blue-text regular">{{ graphSubtitle }}</div>
      <div class="chart-holder" *ngIf="displayChart">
        <ngx-charts-line-chart
          class="red "
          [view]="childAbsencesChartView"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [scheme]="colorSchemeRed"
          [results]="childAbsencesList.chartData"
          [xAxisTicks]="childAbsencesList.xAxisTicks"
        >

          <ng-template #seriesTooltipTemplate let-model="model">
            <div class="tooltip-content">
              <div class="tooltip-container simple red">
                <div class="value">
                  {{ model[0].value }}
                </div>
                <div class="label">
                  {{ childAbsencesList["chartData"][0]["name"] }}
                </div>
                <div class="bottom-tooltip">
                  <div class="padded">{{ model[0].name }}</div>
                  <div>{{ getDayOfTheWeek(model[0].name) }}</div>
                </div>
              </div>
            </div>
            <!--<div class="selected-container"></div>-->
          </ng-template>

        </ngx-charts-line-chart>
      </div>
      <div *ngIf="!displayChart" class="big-text bold padded-top info-card">Nu există date disponibile</div>
      <div class="text-item link-content blue-text bold more-button arrow-right mobile"
           [routerLink]="['/reports']" [queryParams]="{top_tab: 'student_absences_evolution'}"
      >Mai multe rapoarte</div>
    </div>
  </div>
</div>
