<div class="row {{ styleInput ? styleInput : '' }}">
  <div class="text align-end {{ styleInput ? styleInput : ''}}" id="title">{{ labelValue }}</div>

  <div class="input-container align-end first-range">
    <div class="label-and-field-container">
      <div class="text">Începe</div>
      <input
        class="date custom-date {{ messageErrorFrom ? 'error-input' : ''}}"
        [class.disabled]="!editableDates"
        (click)="openPickerFrom()"
        readOnly
        value="{{ dateFrom ? dateForInput(dateFrom) : '' }}">
      <div class="datepicker-container">
        <app-datepicker
          color="#0077DB"
          #datepickerFrom
          [dateValue]="dateFrom"
          [minDateValue]="yesterday"
          (dateChanged)="startDateChanged($event)">
        </app-datepicker>
      </div>
    </div>
    <div class="error-message red-text" *ngIf="messageErrorFrom">{{ messageErrorFrom }}</div>
  </div>

  <div class="input-container align-end">
    <div class="label-and-field-container">
      <div class="text">Se termină</div>
      <input
        class="date custom-date {{ messageErrorTo ? 'error-input' : ''}}"
        [class.disabled]="!editableDates"
        (click)="openPickerTo()"
        readOnly
        value="{{ dateTo ? dateForInput(dateTo) : ''}}">
      <div class="datepicker-container">
        <app-datepicker
          color="#0077DB"
          #datepickerTo
          [dateValue]="dateTo"
          [minDateValue]="yesterday"
          (dateChanged)="endDateChanged($event)">
        </app-datepicker>
      </div>
    </div>
    <div class="error-message red-text" *ngIf="messageErrorTo">{{ messageErrorTo }}</div>
  </div>
</div>
