@import "../../../../assets/styles/base";

.export_button {
  padding-right: $margin-default;
  background-image: url(../../../../assets/img/export.svg);
  background-repeat: no-repeat;
  background-position: right center;
  max-width: 120px;
}

.info-card {
  border: unset;
}

.page-content {
  animation: contentAppear 1.2s linear 1 backwards;
}

#tabs-container {
  width: calc(100% - #{$nav-bar-width} - #{$margin-xsmall});
}

@media (max-width: $mobile-screen-width-normal) {
  #tabs-container {
    width: initial;
  }
}
