@import '../../../../assets/styles/base.scss';

.page-content {
  padding-top: 40px;
}

#header-top-right-container {

  .button-container {
    display: flex;
    flex-direction: row;
    height: 98px;
    align-items: flex-end;
    padding-bottom: calc(#{$margin-small} + 1px);
  }

  .text-button + .text-button {
    margin-left: $margin-big;
  }
}

.margin-list {
  margin-top: $margin-big;
  margin-bottom: $margin-small;
}

.tabs-container {
  margin-top: 40px;
  margin-bottom: $margin-big;
  position: sticky;
  top: 148px;
  background-color: $color-background;
}

.no-results {
  position: relative;
  text-align: center;
  font-size: $font-size-big;
  color: $color-text-light;
  font-weight: $font-weight-bold;
  left: unset;
  top: $margin-default;
  transform: unset;
}

.detail-element-container {
  &:first-of-type {
    margin-top: 20px !important;
  }
}

@media (max-width: $mobile-screen-width-normal) {
  .text-button {
    margin-left: $margin-tiny;
    margin-right: $margin-tiny;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .tabs-container {
    margin-top: $margin-small;
    margin-bottom: unset;
    position: unset;
  }

  .page-content {
    padding-top: unset;

    .detail-element-container {
      &:first-of-type {
        margin-top: $margin-default;
      }
    }
  }

  .margin-list {
    margin-top: $margin-default;
    margin-bottom: 0;
  }

  #header-top-right-container {
    .button-container{
      height: unset;
      padding-bottom: 0;
      padding-top: $margin-xsmall;
    }
  }

  .no-results {
    font-size: $font-size-bigish;
  }
}
