@import '../../../../assets/styles/base.scss';

hr {
  margin-top: $margin-big;
  margin-bottom: $margin-tiny;
}

.button-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: flex-end;
  padding-bottom: $margin-default;
}

.text-button {
  margin-right: $margin-small;
  margin-left: $margin-small;
}

.page-content {
  padding-top: $margin-small;
}

.value-container {
  margin-right: $margin-xsmall;
}

.categories {
  width: calc(100% - 150px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: $mobile-screen-width-normal) {
  .page-content {
    padding: 31px $margin-default $margin-big;

    .margin-list {
      margin-top: $margin-default;
      margin-bottom: $margin-small;
    }
  }

  #header-title {
    h1 {
      line-height: 42px;
      font-size: $font-size-big;
      letter-spacing: 0.42px;
      margin-bottom: -3px;
    }
  }

  .text-button {
    margin-left: unset;
  }
}
