
.ngx-charts-tooltip-content.position-top {
  display: none !important;
}

ngx-tooltip-content {
  transform: translate(-57px, -120px) !important;
}

.ngx-charts-tooltip-content {

  &.position-right {
    background-color: unset !important; //$color-blue !important;
    border-radius: $border-radius-normal !important;
    height: 56px;
    width: 82px;

    .tooltip-item {
      text-align: center !important;
      font-size: $font-size-bigish !important;
      font-weight: $font-weight-bold !important;
    }

    .tooltip-caret, .tooltip-item-color {
      display: none;
    }
  }
}

circle {
  pointer-events: none !important;
  r: 6px !important;
  fill: white !important;
  stroke: $color-blue !important;
  stroke-width: 2px !important;
}

.line {
  //stroke: $color-yellow;
  stroke-width: 2px !important;
}

.ngx-charts .tooltip-anchor {
  fill: $color-blue !important;
  width: 2px !important;
  fill-opacity: 40% !important;
}

text {
  fill: $color-text-light !important;
  font-weight: $font-weight-medium !important;
  font-size: $font-size-normal !important;
}

.tooltip-content {
  position: relative;

  .tooltip-container {
    padding: $margin-xsmall 0;
    border-radius: $border-radius-normal;
    background-color: unset !important;

    &.double {
      background-color: unset;
    }

    &.simple {
      background-color: $color-blue !important;

      &.red {
        background-color: $color-red !important;
      }
    }
  }

  .value {
    font-size: $font-size-bigish;
    font-weight: $font-weight-bold;
  }

  .title {
    font-size: $font-size-small;
    font-weight: $font-weight-light;
  }

  .red-tooltip, .blue-tooltip {
    position: absolute;
    top: -130px;
    height: 56px;
    width: 82px;
    padding: $margin-tiny 0;
  }

  .red-tooltip {
    background-color: $color-red;
    left: -50px;
    border-top-left-radius: $border-radius-normal;
    border-bottom-left-radius: $border-radius-normal;
  }

  .blue-tooltip {
    background-color: $color-blue;
    left: 30px;
    border-top-right-radius: $border-radius-normal;
    border-bottom-right-radius: $border-radius-normal;
  }

  .bottom-tooltip {
    box-shadow: 0 0 3px rgba(black, 0.1);
    padding-top: 10px;
    color: $color-blue;
    font-size: $font-size-bigish;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    bottom: -305px;

    &.more-bottom {
      bottom: -488px;
    }

    &.more-bottom-tabs {
      bottom: -469px;
    }

    &.parent-student {
      bottom: -474px;
    }

    .padded {
      padding-bottom: 3px;
    }
  }
}

.selected-container {
  background-color: white;
  height: 40px;
  width: 40px;
}

@media screen and (max-width: $mobile-screen-width-normal) {

  .tooltip-content {

    &.bottom-tooltip {
      height: 40px;
      width: 40px;
      font-size: $font-size-normal;
      bottom: -293px;
    }
  }
}

@media screen and (max-width: $mobile-screen-width-intermediate) {

  .tooltip-content {

    &.bottom-tooltip {
      height: 40px;
      width: 40px;
      font-size: $font-size-normal;
      bottom: -293px;
    }
  }
}

@media screen and (max-width: $mobile-screen-width-small) {

  .tooltip-content {

    &.bottom-tooltip {
      height: 40px;
      width: 40px;
      font-size: $font-size-normal;
      bottom: -293px;
    }
  }
}
