@import './base';

.radio-container, .checkbox-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  cursor: pointer;
  user-select: none;

  .text {
    margin-left: $margin-small;
    color: $color-text-light;
  }

  &:active {
    .radio-button, .checkbox-button {
      box-shadow: inset 0 0 0 5px #c6cfda;
      border-radius: 100%;
      background-color: white;

      &:before {
        border-radius: 100%;
      }
    }

    .checkbox-button {
      &:before {
        transform: scale(0.8)
      }
    }
  }

  &:focus {
    .text {
      color: $color-blue;
    }
  }
}

.radio-container {
  &:active {
    .radio-button {
      box-shadow: inset 0 0 0 5px #c6cfda;
      border-radius: 100%;
      background-color: white;

      &:before {
        border-radius: 100%;
      }

      &.checked {
        &:before {
          transform: scale(0.72);
        }
      }
    }
  }
}

.checkbox-container {
  &:active {
    .checkbox-button {
      box-shadow: inset 0 0 0 5px #c6cfda;
      border-radius: 100%;
      background-color: white;

      &:before {
        border-radius: 100%;
        transform: scale(0);
      }

      &.checked {
        box-shadow: inset 0 0 0 3px #c6cfda;

        &:before {
          transform: scale(0.7);
        }

        &:after {
          transform: scale(0.8);
        }
      }
    }
  }
}

// Buttons
.radio-button, .checkbox-button {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  background-color: white;
  box-shadow: inset 0 0 0 1px #c6cfda;
}


.radio-button {
  transition: box-shadow 0.15s $ease-in-out, border-radius 0.15s $ease-in-out;

  // blue box
  &:before {
    position: absolute;
    display: block;
    content: " ";
    left: 4px;
    top: 4px;
    border-radius: 2px;
    background-color: $color-blue;
    width: 8px;
    height: 8px;
    transition: transform 0.2s $ease-in-out, border-radius 0.15s $ease-in-out;
    transform: scale(0);
    transform-origin: 50% 50%;
  }

  &.checked:before {
    transform: none;
  }
}


.checkbox-button {
  transition: box-shadow 0.15s $ease-in-out, border-radius 0.15s $ease-in-out;

  // blue box
  &:before {
    position: absolute;
    display: block;
    content: " ";
    left: 1px;
    top: 1px;
    border-radius: 4px;
    background-color: $color-blue;
    width: 14px;
    height: 14px;
    transition: transform 0.2s $ease-in-out, border-radius 0.15s $ease-in-out;
    transform: scale(0);
    transform-origin: 50% 50%;
  }

  // check icon
  &:after {
    position: absolute;
    display: block;
    content: " ";
    left: 4px;
    top: 4px;
    border-radius: 100%;
    background-color: white;
    width: 8px;
    height: 8px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./assets/img/check.svg);
    transform: scale(0);
    transition: transform 0.2s $ease-in-out, background-color 0.15s;
  }

  &.uncheckable {
    &:before {
      background-color: darken($color-separator, 10%);
    }
  }

  &.checked {
    &:before {
      transform: none;
    }

    &:after {
      transform: none;
      background-color: transparent;
    }
  }
}
