@import './base';

.header-sublayer {
  width: 100%;
}

header#page-header {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 45px 80px 15px;
  background-color: $color-background;
  will-change: transform;
  z-index: 1000;

  .dropdown-parent {
    margin-bottom: $margin-tiny;
  }

  @keyframes headerIn {
    0% {
      background-color: transparent;
    }
  }
  animation: headerIn 0.3s 0.3s linear 1 backwards;

  #header-subtitle {
    font-weight: $font-weight-regular;
    color: $color-blue;
    margin-top: 5px;
  }

  #header-subsubtitle {
    margin-top: 5px;
  }

  #header-back-button {
    margin-top: -25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
    padding-left: 1px;
  }

  #header-title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
  }

  #error-alert {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: auto;
    top: 20px;
    left: -12%;
    z-index: 10000;
    border-radius: $border-radius-normal;
  }

  #tabs-container {
    margin-bottom: -$margin-small;
    padding-top: $margin-small;
  }

  .top-right-container {
    position: absolute;
    right: 385px;
    top: 50px;
    pointer-events: initial;
    z-index: 1;
  }

  .bottom-right-container {
    position: absolute;
    right: 385px;
    bottom: 10px;
    pointer-events: initial;
  }

  hr {
    position: absolute;
    bottom: 0;
    width: calc(100% - 465px);
  }
}

header#page-header {
  .catalog-top-right {
    margin-top: 13px;
    background-color: #E2E8EF;
    border-radius: $border-radius-normal;
    height: auto;
    width: auto;
    padding: $margin-small $margin-big;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .column {
      white-space: nowrap;
      padding-right: $margin-big;
    }

    .column + .column {
      padding-left: $margin-default;
      border-left: 1px solid $color-separator;
    }

    .label {
      font-size: $font-size-small;
    }

    .value {
      margin-top: 4px;
    }
  }
}

/* MOBILE STYLES */

@media (max-width: $mobile-screen-width-normal) {
  .header-sublayer {
    position: absolute;
    pointer-events: none;
    z-index: -100;
  }

  header#page-header {
    top: 50px;
    will-change: unset;
    padding: 10px $margin-default 0;
    margin-top: 50px;
    position: unset;

    .filter {
      z-index: 3;
    }

    hr {
      position: unset;
      bottom: unset;
      width: 100%;
    }

    #header-back-button {
      margin-top: 0;
    }

    #header-title {
      font-size: $font-size-big;
      letter-spacing: -0.42px;
    }

    #header-add-edit-title {
      line-height: 42px;
      font-size: $font-size-big;
      letter-spacing: 0.42px;
      margin-bottom: -3px;
    }

    #header-subtitle {
      display: inline-block;
      font-size: $font-size-normal;
    }

    #header-subsubtitle {
      display: block;
      margin-left: unset;
      margin-top: $margin-xsmall;
    }

    #tabs-container {
      margin-bottom: -1px;
      padding-top: 0;
    }


    hr {
      width: 100%;
    }

    .top-right-container {
      position: unset;
      margin-top: $margin-tiny;
      height: calc(100% - 50px);
      pointer-events: initial;
      margin-bottom: $margin-small;

      .button-container {
        padding: 0;
      }
    }

    #error-alert {
      z-index: 10000;
      left: 0%;
    }

    #show-details-button {
      display: flex;
      align-items: center;
      float: right;
      background-color: #E2E8EF;
      font-size: $font-size-small;
      width: 90px;
      height: 30px;
      border-radius: $border-radius-tiny 0 0 $border-radius-tiny;
      padding: 7px $margin-default 7px $margin-tiny;
      margin-right: -$margin-default;
      pointer-events: all;
      cursor: pointer;

      &:before {
        transition: transform .2s $ease-in-out;
        height: 6px;
        width: 10px;
        transform: translateX(-100%) rotate(180deg);
        content: '';
        background: url(/../../assets/img/expand.svg) center center no-repeat;
        margin-left: $margin-small;
        margin-bottom: 1px;
        filter: invert(35%) sepia(8%) saturate(1461%) hue-rotate(173deg) brightness(50%) contrast(84%);
      }

      &.open {
        &:before {
          transform: translateX(-100%) rotate(0deg);
        }
      }
    }
  }
}
