@import './base';

.list-count-mobile {
  display: none;
  margin-left: $margin-small;
  color: white;
  font-weight: lighter;

  @media (max-width: $mobile-screen-width-normal) {
    display: unset;
  }
}

.mobile-title {
  display: none;
}

@media (max-width: $mobile-screen-width-normal) {
  .filter {
    &.open {
      .mobile-title {
        font-size: $font-size-small;
        color: white;
        display: block;
        margin-top: -5px;
        margin-bottom: $margin-xsmall;
        font-weight: 300 !important;
      }
    }
  }

  .filter-container {
    .dropdown-parent {
      width: 100% !important;
      margin: $margin-xsmall 0 !important;

      input {
        font-weight: normal !important;
        border-radius: 5px !important;
        background-size: 7px 4px !important;
      }

      .dropdown-button {
        border-radius: 5px !important;
        background-size: 7px 4px !important;
      }
    }

    .search-form {
      width: 234px;
      margin: $margin-xsmall 0 !important;
      
      input.search-input {
        width: 100% !important;
        font-weight: normal !important;
        border-radius: 5px !important;
      }
    }
  }
}
