@import "../../../../assets/styles/base";

.header {
  .title {
    font-weight: bold;
    font-size: $font-size-big;
    display: block;
    color: white;
  }

  .description {
    margin-top: $margin-xsmall;
    font-weight: $font-weight-regular;
    font-size: $font-size-bigish;
    color: white;
  }

  .datepicker-input-wrapper {
    margin-top: $margin-tiny;

    .date-label {
      color: white;
      display: inline-block;
      margin-right: $margin-tiny;
    }

    .datepicker-container {
      width: 400px;
      top: 50px;
      position: absolute;
      z-index: 10;
    }

    input.date {
      &.custom-date {
        background-position: calc(100% - #{$margin-tiny}) 50%;
        width: 82px;
        padding-right: 0;
      }
    }
  }
}

#modal-body {
  width: calc(100vw - 160px);
  max-height: calc(100vh * 0.7 - 60px);
  overflow: auto;
  margin-right: -40px;
}

.student-list {
  padding: $margin-default 0;

  .row {
    font-weight: bold;
    font-size: $font-size-small;
    padding: 11px 0;
    display: flex;
    align-items: center;
    width: calc(100% - 40px);
    border-bottom: 1px solid $color-separator;

    &:first-of-type {
      font-weight: $font-weight-medium;

      .column {
        &:first-of-type {
          font-size: $font-size-small;
        }
      }
    }

    .column {
      display: inline-flex;
      align-items: center;
      width: 72%;

      &:first-of-type {
        width: 28%;
        font-size: $font-size-bigish;
      }

      .grade-wrapper {
        display: inline-block;

        .grade-cell {
          display: inline-block;
          border-right: 1px solid $color-separator;
          margin-right: $margin-default;

          div {
            display: inline-block;

            &.dropdown-wrapper {
              width: 56px;
              height: 30px;
            }

            &.text-button.dark-text {
              margin-left: $margin-small;
              margin-right: $margin-default; 
            }
          }
        }
      }

      .add-grade {
        padding: $margin-tiny 0;
        margin-left: auto;
      }
    }

    &:last-of-type {
      border-bottom: unset;
    }
  }
}

#modal-footer {
  .text-button {
    &.blue {
      margin-right: $margin-big;
    }
    &.disabled {
      pointer-events: none;
    }
  }
}

@media(max-width: $mobile-screen-width-normal) {
  .header {
    .title {
      font-size: $font-size-bigish;
    }

    .description {
      font-size: $font-size-normal;
    }

    .datepicker-input-wrapper {
      margin: unset;

      .datepicker-container {
        width: 300px;
        top: unset;
        bottom: 25%;
        right: 10px;
      }

      .date-label {
        font-size: $font-size-small;
      }
    }
    
    input.date {
      &.custom-date {
        border-radius: $border-radius-tiny;
      }
    }
  }

  #modal-body {
    width: calc(100vw - 160px);
    margin-right: -10px;
  }

  .student-list {
    .row {
      width: calc(100% - 20px);
    }
  }
}

@media(max-width: $mobile-screen-width-intermediate) {
  #modal-body {
    width: calc(100vw - 65px);
    margin-right: unset;
  }

  .student-list {
    padding: 4px 0 $margin-small;

    .row {
      align-items: unset;
      width: calc(100% - 10px);

      &:first-of-type {
        .column {
            display: inline-flex;
            flex-direction: unset;
        }
      }

      .column {
        flex-direction: column;
        align-items: flex-start;
        width: 58%;

        &:first-of-type {
          width: 42%;
          font-size: $font-size-small;
        }

        .grade-wrapper {
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;

          .grade-cell {
            display: block;
            border-right: unset;
            margin-bottom: $margin-tiny;
            margin-right: unset;

            &:last-of-type {
              margin-bottom: 18px;
            }

            .text-button.dark-text {
              margin-right: unset; 
            }
          }
        }

        .add-grade {
          padding: unset;
          margin-left: unset;
        }
      }
    }
  }
}
