<ng-container [ngSwitch]="identifier">

  <!-- GRADES LIST --------------------------------------------->
  <div *ngSwitchCase="identifier === 'grades_sem_1' || identifier === 'grades_sem_2' ? identifier : null"
       class="expanded-container grades-list">
    <app-single-grade-overlay *ngIf="isEditable || isExaminationSection"
                              [datePickerMinDateValue]="isExaminationSection ? eventMinDate : currentSemesterStartDate"
                              [tableLayoutAsIdentifier]="tableLayoutAsIdentifier"
                              [isExaminationSection]="isExaminationSection"
                              [gradeType]="gradeType"
                              (save)="gradeSubmitted($event)"
                              #singleGradeModal
    ></app-single-grade-overlay>

    <div class="horizontal">

      <div class="label">Note</div>
      <div class="elements" *ngIf="data?.grades">
        <div class="element-cell grade-cell" *ngFor="let grade of data.grades">
          <div class="grade {{grade.grade <= 4 ? 'red-text' : ''}}">{{grade.grade}}</div>
          <div class="date">{{displayDate(grade.taken_at)}}</div>
          <ng-container *ngIf="isEditable">
            <hr class="vertical">
            <span class="edit-button text-button"
                  (click)="openGradeOverlay($event, false, grade)">Editează</span>
            <div *ngIf="tableLayoutAsIdentifier !== 'class_master'"
                 class="delete-button text-button dark-text"
                 (click)="onGradeDelete(grade)">Șterge</div>
          </ng-container>
        </div>
      </div>

      <div class="add-button-container" *ngIf="isEditable && !(tableLayoutAsIdentifier === 'class_master')">
        <div class="text-button blue-text add-button" *ngIf="!data.is_exempted" (click)="openGradeOverlay($event, false)">Adaugă notă</div>
      </div>

    </div>

    <div class="horizontal" *ngIf="data?.thesis || data?.wants_thesis">
      <div class="label">Notă teză</div>

      <!--- Added in order to make the display flex-row spacing work -->
      <div *ngIf="!data?.thesis" style="width: 10px; height: 40px; pointer-events: none"></div>

      <div class="elements" *ngIf="data?.thesis">
        <div class="element-cell grade-cell">
          <div class="grade" [class.red-text]="data?.thesis?.grade < 5">{{data?.thesis?.grade ? data?.thesis?.grade : '-'}}</div>
          <div class="date">{{data?.thesis?.taken_at ? displayDate(data?.thesis?.taken_at) : '-'}}</div>
          <ng-container *ngIf="isEditable">
            <hr class="vertical">
            <span class="edit-button text-button" (click)="openGradeOverlay($event, true, data?.thesis)">Editează</span>
            <div class="delete-button text-button dark-text" (click)="onGradeDelete(data?.thesis)">Șterge</div>
          </ng-container>
        </div>
      </div>
      <div class="add-button-container thesis" *ngIf="isEditable && !data.thesis">
        <div class="text-button blue-text add-button" (click)="openGradeOverlay($event, true)">Adaugă notă teză</div>
      </div>
    </div>

    <div class="horizontal" *ngIf="(data.second_examination_grades?.length && identifier !== 'grades_sem_1') || shouldDisplaySecondExaminationSection">
      <div class="label">Note corigență</div>
      <!--- Added in order to make the display flex-row spacing work -->
      <div *ngIf="!data.second_examination_grades?.length" style="width: 10px; height: 40px; pointer-events: none"></div>

      <div class="elements" *ngIf="data.second_examination_grades?.length">
        <div class="element-cell grade-cell" *ngFor="let grade of data.second_examination_grades">
          <div class="grade-label">{{grade.examination_type === 'ORAL' ? 'Oral' : 'Scris'}}</div>
          <hr class="second vertical">
          <div class="second grade {{grade.grade1 <= 4 ? 'red-text' : 'blue-text'}}">
            {{grade.grade1}}
            <div class="grade-details">(Notă prof. I)</div>
          </div>
          <div class="second grade {{grade.grade2 <= 4 ? 'red-text' : 'blue-text'}}">
            {{grade.grade2}}
            <div class="grade-details">(Notă prof. II)</div>
          </div>
          <hr class="second vertical">
          <div class="date">{{displayDate(grade.taken_at)}}</div>
          <ng-container *ngIf="shouldDisplaySecondExaminationSection">
            <div class="action-buttons-container">
              <hr class="second vertical">
              <span class="edit-button text-button"
                    (click)="openGradeOverlay($event, false, grade, true, true)">Editează</span>
              <div *ngIf="tableLayoutAsIdentifier !== 'class_master'"
                   class="delete-button text-button dark-text"
                   (click)="onGradeDelete(grade, true)">Șterge</div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="add-button-container thesis" *ngIf="shouldDisplaySecondExaminationSection && isEditable">
        <div class="text-button blue-text add-button" (click)="openGradeOverlay($event, true, null, true)">Adaugă note corigență</div>
      </div>
    </div>

    <div class="horizontal" *ngIf="data.difference_grades?.length || shouldDisplayDifferencesSection">
      <div class="label">Note diferențe</div>
      <!--- Added in order to make the display flex-row spacing work -->
      <div *ngIf="!data.difference_grades?.length" style="width: 10px; height: 40px; pointer-events: none"></div>

      <div class="elements" *ngIf="data.difference_grades?.length">
        <div class="element-cell grade-cell" *ngFor="let grade of data.difference_grades">
          <div class="grade-label">{{grade.examination_type === 'ORAL' ? 'Oral' : 'Scris'}}</div>
          <hr class="second vertical">
          <div class="second grade {{grade.grade1 <= 4 ? 'red-text' : 'blue-text'}}">
            {{grade.grade1}}
            <div class="grade-details">(Notă prof. I)</div>
          </div>
          <div class="second grade {{grade.grade2 <= 4 ? 'red-text' : 'blue-text'}}">
            {{grade.grade2}}
            <div class="grade-details">(Notă prof. II)</div>
          </div>
          <hr class="second vertical">
          <div class="date">{{displayDate(grade.taken_at)}}</div>
          <ng-container *ngIf="shouldDisplayDifferencesSection">
            <div class="action-buttons-container">
              <hr class="second vertical">
              <span class="edit-button text-button"
                    (click)="openGradeOverlay($event, false, grade, true, true)">Editează</span>
              <div *ngIf="tableLayoutAsIdentifier !== 'class_master'"
                   class="delete-button text-button dark-text"
                   (click)="onGradeDelete(grade, true)">Șterge</div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="add-button-container thesis" *ngIf="shouldDisplayDifferencesSection && isEditable">
        <div class="text-button blue-text add-button" (click)="openGradeOverlay($event, true, null, true)">Adaugă note diferență</div>
      </div>
    </div>

    <div class="horizontal" *ngIf="data?.avg">
      <div class="label">Medie</div>
      <div class="elements">
        <div class="element-cell grade-cell">
          <div class="grade {{data.avg >= data.avg_limit ? 'blue-text': 'red-text'}}">{{data.avg}}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- GRADE ANNUAL --------------------------------------------->
  <div *ngSwitchCase="'grade_annual'" class="expanded-container grades-annual">
    <ng-container *ngIf="data">
      <div class="elements desktop-only">
        <div class="label relative">Medie anuală înainte de corigență</div>
        <div class="element-cell single-number annual-average {{ data.avg_annual >= (data.avg_limit ? data.avg_limit : 5) ? '' : 'red-background' }}">
          {{data.avg_annual ? data.avg_annual : '-'}}
        </div>
        <div class="label relative">Medie anuală după corigență</div>
        <div class="element-cell single-number annual-average {{ data.avg_after_2nd_examination >= (data.avg_limit ? data.avg_limit : 5) ? '' : 'red-background' }}">
          {{data.avg_after_2nd_examination ? data.avg_after_2nd_examination : '-'}}
        </div>
      </div>
      <div class="mobile-only">
        <div class="elements">
          <div class="absences-count">
            <div class="label relative">Medie anuală înainte de corigență</div>
            <div class="element-cell single-number annual-average {{ data.avg_annual >= (data.avg_limit ? data.avg_limit : 5) ? '' : 'red-background' }}">
              {{data.avg_annual ? data.avg_annual : '-'}}
            </div>
          </div>
        </div>
        <div class="elements">
          <div class="absences-count">
            <div class="label relative">Medie anuală după corigență</div>
            <div class="element-cell single-number annual-average {{ data.avg_after_2nd_examination >= (data.avg_limit ? data.avg_limit : 5) ? '' : 'red-background' }}">
              {{data.avg_after_2nd_examination ? data.avg_after_2nd_examination : '-'}}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- ABSENCES LIST --------------------------------------------->
  <div *ngSwitchCase="identifier === 'abs_sem_1' || identifier === 'abs_sem_2' ? identifier : null"
       class="expanded-container absences-list">
    <app-single-absence-overlay *ngIf="isEditable"
                                [currentSemesterStartDate]="currentSemesterStartDate"
                                (save)="absenceSubmitted($event)"
                                #singleAbsenceModal
    ></app-single-absence-overlay>

    <div class="horizontal" *ngIf="data">
      <div class="label">Absențe</div>
      <div class="elements">
        <div class="element-cell absence-cell" *ngFor="let absence of data" [class.red-text]="!absence.is_founded">
          {{displayLongDate(absence.taken_at)}}

          <ng-container *ngIf="isEditable">
            <hr class="vertical" *ngIf="!absence.is_founded && (tableLayoutAsIdentifier === 'class_master' || isClassMaster)">
            <span *ngIf="!absence.is_founded" class="edit-button text-button" (click)="onAbsenceAuthorize(absence)">
              Motivează
            </span>
            <span *ngIf="!isOnViewPupilDataPage"
                  class="delete-button text-button dark-text"
                  (click)="onAbsenceDelete(absence)">
              Șterge
            </span>
          </ng-container>
        </div>
      </div>
      <div class="add-button-container" *ngIf="isEditable && !isOnViewPupilDataPage">
        <div class="text-button blue-text add-button"
             (click)="openAbsenceOverlay($event)">Adaugă absență</div>
      </div>
    </div>
    <div class="absences-summary" *ngIf="data?.length">
        <div class="elements desktop-only">
          <div class="label relative">Nr. total de absențe</div>
          <div class="element-cell single-number red-text">{{data.length || 0}}</div>
          <div class="label relative">Motivate</div>
          <div class="element-cell single-number">{{countFoundedAbsences(data)}}</div>
          <div class="label relative">Nemotivate</div>
          <div class="element-cell single-number red-text">{{countUnfoundedAbsences(data)}}</div>
        </div>
        <div class="mobile-only">
          <div class="elements">
            <div class="absences-count">
              <div class="label relative">Nr. de absențe</div>
              <div class="element-cell single-number red-text">{{data.length || 0}}</div>
            </div>
          </div>
          <div class="elements">
            <div class="absences-count">
              <div class="label relative">Motivate</div>
              <div class="element-cell single-number">{{countFoundedAbsences(data)}}</div>
            </div>
            <div class="absences-count">
              <div class="label relative">Nemotivate</div>
              <div class="element-cell single-number red-text">{{countUnfoundedAbsences(data)}}</div>
            </div>
          </div>
        </div>
    </div>
  </div>


  <!-- ABSENCES ANNUAL --------------------------------------------->
  <div *ngSwitchCase="'abs_annual'" class="expanded-container absences-annual absences-summary">
    <ng-container *ngIf="data">
      <div class="elements desktop-only">
        <div class="label relative">Nr. total de absențe</div>
        <div class="element-cell single-number red-text">
          {{data.abs_count_annual || 0}}
        </div>
        <div class="label relative">Motivate</div>
        <div class="element-cell single-number">{{data.founded_abs_cont_annual || 0}}</div>
        <div class="label relative">Nemotivate</div>
        <div class="element-cell single-number red-text">
          {{(data.abs_count_annual || 0) - (data.founded_abs_cont_annual || 0)}}
        </div>
      </div>
      <div class="mobile-only">
        <div class="elements">
          <div class="absences-count">
            <div class="label relative">Nr. de absențe</div>
            <div class="element-cell single-number red-text">
              {{data.abs_count_annual || 0}}
            </div>
          </div>
        </div>
        <div class="elements">
          <div class="absences-count">
            <div class="label relative">Motivate</div>
            <div class="element-cell single-number">{{data.founded_abs_cont_annual || 0}}</div>
          </div>
          <div class="absences-count">
            <div class="label relative">Nemotivate</div>
            <div class="element-cell single-number red-text">
              {{(data.abs_count_annual || 0) - (data.founded_abs_cont_annual || 0)}}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
<app-confirmation-modal #confirmationModal></app-confirmation-modal>

